<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业专区_21Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
    <link rel="stylesheet" href="../css/enterprise-zone.css"/>
    <link rel="stylesheet" href="../css/qiYe_model.css">
    <link rel="stylesheet" href="../css/common.css"/>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/home-page.css">
</head>
<body>
<!--导航栏部分-->
<header id="header">
    <div class="header-fixed">
        <nav class="center clearfix">
            <!--logo-->
            <a href="../home-page.html" class="nav-logo floatL">
                <img src="../images/logo.png" alt="廿一客">
            </a>
            <!--/logo-->

            <!--菜单-->
            <div class="nav-centerContent floatL">
                <ul class="clearfix">
                    <li>
                        <a href="../home-page.html">首页</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="caketext-1.html">蛋糕</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="caketext-2.html">冰淇淋</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="caketext-3.html">咖啡下午茶</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="caketext-4.html">面包</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="send.html">咖啡全国送</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="enterprise-zone.html" class="changeColor">企业专区</a>
                        <span class="showSpan"></span>
                    </li>
                </ul>
            </div>
            <!--/菜单-->

            <!--功能-->
            <div class="nav-function floatR">
                <ul class="clearfix">
                    <li class="show-children">
                        <span>APP下载</span>
                        <div class="youHuiErWeiMa">
                            <img src="../images/erweima2.png" alt="">
                            <p>下载享更多优惠</p>
                        </div>
                    </li>
                    <li class="show-children">
                        <span class="address-chose-default">成都</span>
                        <i></i>
                        <div class="address-chose">
                            <a href="javascript:void(0);">成都</a>
                            <a href="javascript:void(0);">重庆</a>
                            <a href="javascript:void(0);">西安</a>
                            <a href="javascript:void(0);">北京</a>
                        </div>
                    </li>
                    <li class="show-children">
                        <span>消息</span>
                        <div class="news">
                            <a href="login.html">通知</a>
                            <a href="login.html">物流</a>
                        </div>
                        <i class="redDian"></i><!--==========注意：登陆后会根据情况显示的===========-->
                    </li>
                    <li class="ifDengLu-show-children"><!--==========注意：登陆后加show-children属性========-->
                        <a href="login.html">登录</a>/<a href="register.html">注册</a>
                        <p class="dengLu-success">
                            <img src="../images/user.png" alt="">
                        </p>
                        <div class="news user">
                            <a href="my-dingDan.html">我的订单</a>
                            <a href="#">我的优惠券</a>
                            <a href="#">我的纪念日</a>
                            <a href="javascript:window.opener=null;window.open('','_self');window.close();">退出登录</a>
                        </div>
                    </li>
                    <li class="buy-cart">
                        <a href="shopCar.html">
                            <i></i>
                        </a>
                        <span class="num">3</span>
                    </li>
                </ul>
            </div>
            <!--/功能-->
        </nav>
    </div>
</header>
<!--/导航栏部分-->


<section>
    <!--===========================页头背景=================================-->
    <div class="nav-box">
        <div class="table">
            <div class="table-cell">
                <a href="#vip" class="table-box">
                    <img src="../images/vipduihuan.png" alt="尊享企业兑换"/>
                </a>
            </div>
            <div class="table-cell">
                <a href="#normal" class="table-box">
                    <img src="../images/duihuan.png" alt="普通企业兑换"/>
                </a>
            </div>
            <div class="table-cell">
                <a href="#shichi" class="table-box">
                    <img src="../images/shichi.png" alt="企业试吃"/>
                </a>
            </div>
            <div class="table-cell">
                <a href="#dingzhi" class="table-box">
                    <img src="../images/dingzhi.png" alt="企业定制"/>
                </a>
            </div>
            <div class="table-cell">
                <a href="#lianxi" class="table-box">
                    <img src="../images/lianxiwomen.png" alt="联系我们"/>
                </a>
            </div>

        </div>
    </div>
    <!--===========================/页头背景=================================-->

    <!--===========================尊享企业礼品卡兑换=================================-->
    <div class="center" id="vip">
        <div class="title">
            <img src="../images/vipduihuan-2.png" alt=""/>
            <br/>
            <img class="qusetion" src="../images/faq.png" alt=""/>
            <span class="seeFAQ" id="seeGet">查看获取方法>></span>
        </div>
        <div class="logoes">

            <a href="exchange.html" class="logoes-a1">
                <img style="height: 114px;width: 125px;" src="../images/u7.jpg" alt=""/>
                <br/>
                <span>四川大学</span>

            </a>


            <a href="exchange.html" class="shangyao">
                <img src="../images/u15.png" alt=""/>
                <br/>
                <span>中国银行</span>
                <div class="yuan">
                </div>
            </a>

            <a href="exchange.html" class="logoes-a1 qiqiao">
                <img src="../images/qiqiao.png" alt=""/>
                <br/>
                <span>七桥</span>
            </a>
            <br/>
            <a href="exchange.html" class="logoes-a1">
                <span class="dian">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
                <span>其他机构</span>
            </a>
            <a href="exchange.html" class="logoes-a1">
                <img src="../images/santian.jpg" alt=""/>
                <br/>
                <span>月饼兑换</span>
            </a>
        </div>
    </div>
    <div class="tankuang" id="tk1">
        <div class="tankuang-1">卡券获取、使用方法</div>
        <img class="close" src="../images/closeover.png" alt=""/>
        <p>Q1. 怎么获取卡券：<br/>
            A：注册成为廿一客会员，在廿一客官网每消费100元获得1颗松子，松子数量达到要求会自动升级会员等级，会员等级提升后会得到赠送的卡券。官网不定期举行活动也会赠送卡券。</p>
        <p>Q2. 卡券使用有什么条件：<br/>
            A: 一张订单只能使用一张券，卡券不可与其他优惠同时享受，卡券适合所有的商品。</p>
        <p>Q3. 会员升级需要多少松子：<br/>
            A：会员分为：初阶会员（1-5颗松子）、中阶会员（6-12颗松子）、高阶会员（13-24颗松子）、尊客（25颗松子以上）。</p>
        <p>Q4. 会员会掉级么：<br/>
            A：每90天内未产生购买，果实减一颗，若果实减少为下一等级数量时，等级相应降低，上一级别的固定权益失效。</p>
    </div>
    <!--===========================/尊享企业礼品卡兑换=================================-->

    <!--===========================普通企业礼品卡兑换=================================-->
    <div class="center div2">
        <div class="title">
            <img id="normal" src="../images/duihuan-2.png" alt=""/>
            <br/>
            <img class="qusetion" src="../images/faq.png" alt=""/>
            <span class="seeFAQ" id="seeFAQ">查看用户常见FAQ>></span>
        </div>
        <div class="cards">
            <a href="javascript:void(0);" class="div2-type">
                <img src="../images/enjoy.png" alt=""/>
                <img src="../images/enjoy-2.png" alt=""/>
            </a>
        </div>
        <div class="cards">
            <a href="javascript:void(0);" class="div2-type div2-type2">
                <img src="../images/gift-card.png" alt=""/>
                <br/>
                <img src="../images/gift-card-2.png" alt=""/>
            </a>
            <a href="javascript:void(0);" class="div2-type div2-type3">
                <img src="../images/stored-value.png" alt=""/>
                <img src="../images/stored-value-2.png" alt=""/>
            </a>
        </div>
    </div>
    <div class="yinying">
    </div>
    <div class="tankuang" id="tk2">
        <div class="tankuang-1">用户常见FAQ</div>
        <img class="close" src="../images/closeover.png" alt=""/>
        <p>Q1. 发票问题：<br/>
            A：卡券在使用时不能开具发票，请向售卖给您的客服或销售索要发票；发票开具内容为：食品或蛋糕</p>
        <p>Q2. 卡券有效期问题：<br/>
            A：卡券有效期请查看相关卡券背面的使用有效期。</p>
        <p>Q3. 卡券丢失问题：<br/>
            A：此卡券视为现金，卡券丢失，概不挂失、补卡。</p>
        <p>Q4. 卡券过期问题：<br/>
            A：如果到期后，您未使用或未刮开，可以联系我们的客服或销售人员进行换卡。</p>
    </div>

    <!--===========================/普通企业礼品卡兑换=================================-->

    <!--===========================企业试吃=================================-->
    <div class="center div3" id="shichi">
        <div class="title">
            <span>企业试吃</span>
        </div>
        <div class="dingzhi">
            <a href="tryeating.html">
                去试吃>>
            </a>
        </div>
        <div>
            <a href="tryeating.html">
                <img src="../images/shichi-2.png" alt=""/>
            </a>
        </div>
    </div>
    <!--===========================/企业试吃=================================-->

    <!--===========================企业定制=================================-->
    <div class="center div3" id="dingzhi">
        <div class="title">
            <img src="../images/dingzhi-2.png" alt=""/>
        </div>
        <div class="dingzhi">
            <a href="qiYeDingZhi.html">
                去定制>>
            </a>
        </div>
        <div>
            <a href="qiYeDingZhi.html">
                <img src="../images/dingzhi-3.jpg" alt=""/>
            </a>
        </div>
    </div>
    <!--===========================/企业定制=================================-->

    <!--===========================如何购买=================================-->
    <div class="center div3" id="lianxi">
        <div class="title">
            <img src="../images/ways-1.png" alt=""/>
        </div>
        <div>
            <select style="text-align:center;text-align-last:center;" name="" id="chooseCity">
                <option value="1">成都</option>
                <option value="2">北京</option>
                <option value="3">天津</option>
                <option value="4">杭州</option>
                <option value="5">无锡</option>
                <option value="6">苏州</option>
                <option value="7">广州</option>
                <option value="8">深圳</option>
            </select>

        </div>
        <p>
            联系电话：
            <span id="phone">021-54259599</span>
        </p>
        <p>
            联系邮箱：
            <span id="email">qiye@21cake.com</span>
        </p>
    </div>
    <!--===========================/如何购买=================================-->
    <hr/>
    <!--===========================留言=================================-->
    <div class="center div3 liuyan">
        <div class="title">
            <img src="../images/liuyan.png" alt=""/>
        </div>
        <ul>
            <li>
                <div class="city">
                    <div id="city-1">
                        已选择城市：
                        <span id="cityName">成都</span>
                        <img id="citySelect" src="../images/citySelect.png" alt=""/>
                    </div>
                    <ul id="cityli">
                        <li id="ding" onclick="changeCity(this)">
                            <p>成都</p>
                        </li>
                        <li onclick="changeCity(this)">
                            <p>北京</p>
                        </li>
                        <li onclick="changeCity(this)">
                            <p>天津</p>
                        </li>
                        <li onclick="changeCity(this)">
                            <p>杭州</p>
                        </li>
                        <li onclick="changeCity(this)">
                            <p>无锡</p>
                        </li>
                        <li onclick="changeCity(this)">
                            <p>苏州</p>
                        </li>
                        <li onclick="changeCity(this)">
                            <p>广州</p>
                        </li>
                        <li id="di" onclick="changeCity(this)">
                            <p>深圳</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <input id="input-1" placeholder="公司名称(必填)" type="text"/>
            </li>
            <li>
                <input id="input-2" placeholder="联系人(必填)" type="text"/>
            </li>
            <li>
                <input id="input-3" placeholder="手机号(必填)" type="text"/>
            </li>
            <li>
                <input id="input-4" placeholder="邮箱(必填)" type="text"/>
            </li>
            <li>
                <textarea id="input-5" type="text" name="" placeholder="留言(必填)"></textarea>
            </li>
            <li class="error"><span>请填写完整信息</span></li>
        </ul>
        <div class="overshow">
            &nbsp; 感谢您的留言，工作人员会与您主动联系！
        </div>
    </div>
    <div>
        <button id="over">提交</button>
    </div>

    <!--===========================/留言=================================-->

</section>

<footer>
    <div class="footer">
        <img class="footer-logo" src="../images/footer-logo.png" height="36" width="96" alt="">
        <div class="footer-nav">
            <a href="contact.html">联系我们</a>
            <span>|</span>
            <a href="order.html">订购帮助</a>
            <span>|</span>
            <a href="cooperate.html">企业合作</a>
            <span>|</span>
            <a href="product.html">生产经营资质</a>
            <span>|</span>
            <a href="bulletin.html">公告专区</a>
        </div>
        <div class="footer-icon">
            <a href="http://weibo.com/21cake" target="_blank">
                <img src="../images/footericon-01.png">
            </a>
            <a class="footer-weixin" onmouseover="move1()" onmouseout="out1()">
                <div class="footer-erweima footer-weixin-erweima">
                    <img src="../images/erweima.png">
                </div>
                <img src="../images/footericon-02.png">
            </a>
            <a class="footer-app" onmouseover="move2()" onmouseout="out2()">
                <div class="footer-erweima footer-app-erweima">
                    <img src="../images/footer-erweima.png">
                </div>
                APP
            </a>
        </div>

        <div class="footer-text">
            <span>订购专线：400 650 2121（服务时间 08:00–22:00）</span>
            <span>客服电话：021-23099721（全国） | kefu@21cake.com（邮箱）</span>
            <span>杭州/广州：提前5小时预订；北京：提前6小时预订；上海：提前5.5-6小时预订；天津/苏州/无锡/深圳：提前8小时预订（部分偏远地区除外，当日22点以后订单，于次日8点开始审核） </span>
            <span>当日蛋糕配送截止下单时间：北京：16:50；上海：16:30；杭州/广州：13:50；天津：10:30；苏州/无锡/深圳：11:00</span>
            <span>网站注册公司名称: 北京廿一客食品有限公司 地址: 北京市北京经济技术开发区兴海二街5号院3号楼 </span><br>
        </div>
        <div class="footer-copyright">
        <span>
            Copyright© 21Cake蛋糕官网商城 2007-2018, 版权所有
            <a style="color: #9a9a9a" target="_blank" href="http://www.miitbeian.gov.cn/">
                京ICP备14006254号-1
            </a>
        </span>
        </div>
    </div>
</footer>

<script src="../lib/jquery-1.12.4.js"></script>
<script src="../js/qiYe_model.js"></script>
<script src="../js/enterprise-zone.js"></script>
<script src="../lib/jquery/jquery.js"></script>
<script src="../js/footer.js"></script>
<script src="../js/home-page.js"></script>
</body>
</html>