<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>21Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}" href="../images/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../css/common.css"/>
    <link rel="stylesheet" th:href="@{/css/fourthPage.css}" href="../css/fourthPage.css"/>
</head>
<body>
<section class="center">
    <div>
        <img th:src="@{/images/thirdPage-header.jpg}" alt="" style="width: 1200px;margin: 0 auto;display: block"/>
        <div class="wenzi">
            今日可用抽奖次数：
            <span>0</span>
            /1
        </div>
    </div>
    <div>
        <img th:src="@{/images/role.jpg}" alt=""/>
    </div>
</section>
</body>
</html>