<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>21Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>
<!--导航栏部分-->
<header id="header">
    <div class="header-fixed">
        <nav class="center clearfix">
            <!--logo-->
            <a href="../home-page.html" class="nav-logo floatL">
                <img src="../images/logo.png" alt="廿一客">
            </a>
            <!--/logo-->

            <!--菜单-->
            <div class="nav-centerContent floatL">
                <ul class="clearfix">
                    <li>
                        <a href="../home-page.html">首页</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/caketext-1.html">蛋糕</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/caketext-2.html">冰淇淋</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/caketext-3.html">咖啡下午茶</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/caketext-4.html">面包</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/send.html">咖啡全国送</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/enterprise-zone.html">企业专区</a>
                        <span></span>
                    </li>
                </ul>
            </div>
            <!--/菜单-->

            <!--功能-->
            <div class="nav-function floatR">
                <ul class="clearfix">
                    <li class="show-children">
                        <span>APP下载</span>
                        <div class="youHuiErWeiMa">
                            <img src="../images/erweima2.png" alt="">
                            <p>下载享更多优惠</p>
                        </div>
                    </li>
                    <li class="show-children">
                        <span class="address-chose-default">成都</span>
                        <i></i>
                        <div class="address-chose">
                            <a href="javascript:void(0);">成都</a>
                            <a href="javascript:void(0);">重庆</a>
                            <a href="javascript:void(0);">西安</a>
                            <a href="javascript:void(0);">北京</a>
                        </div>
                    </li>
                    <li class="show-children">
                        <span>消息</span>
                        <div class="news">
                            <a href="../pages/loginSuccess-news.html">通知</a>
                            <a href="../pages/loginSuccess-news-wuliu.html">物流</a>
                        </div>
                        <i class="redDian"></i><!--==========注意：登陆后会根据情况显示的===========-->
                    </li>
                    <li class="ifDengLu-show-children"><!--==========注意：登陆后加show-children属性========-->
                        <a href="../pages/login.html">登录</a>/<a href="../pages/register.html">注册</a>
                        <p class="dengLu-success">
                            <img src="../images/user.png" alt="">
                        </p>
                        <div class="news user">
                            <a href="#">我的订单</a>
                            <a href="#">我的优惠券</a>
                            <a href="#">我的纪念日</a>
                            <a href="#">退出登录</a>
                        </div>
                    </li>
                    <li class="buy-cart">
                        <a href="../pages/shopcar.html">
                            <i></i>
                        </a>
                        <span class="num">3</span>
                    </li>
                </ul>
            </div>
            <!--/功能-->
        </nav>
    </div>
</header>
<!--/导航栏部分-->

<div class="content-box article clearfix">
    <div class="bread-crumbs">
            <span>
                <a href="#" alt="" title="" style="font-size: 12px">购物指南</a>
            </span>
        <span style="font-size: 12px">&nbsp;&gt;&nbsp;</span>
        <span class="now" style="font-size: 12px">发票信息说明</span>
    </div>
    <div class="article-main">
        <div class="article-left">
            <dl class="content-list">
                <dt class="content-title">公司公告</dt>
                <dd class="node-index content-item">
                    <a href="21cakeBulletin.html" title="21cake公告">
                        21cake公告 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">关于21Cake</dt>
                <dd class="node-index content-item">
                    <a href="contact.html" title="联系我们">
                        联系我们 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="cooperate.html" title="21cake企业合作">
                        21cake企业合作 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="history.html" title="21cake品牌历史">
                        21cake品牌历史 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="productIdea.html" title="产品理念">
                        产品理念 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">购物指南</dt>
                <dd class="node-index content-item">
                    <a href="privacy.html" title="隐私保护政策">
                        隐私保护政策 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="vip.html" title="会员注册协议">
                        会员注册协议 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="instruction.html" title="蛋糕预订说明">
                        蛋糕预订说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="faq.html" title="会员体系FAQ">
                        会员体系FAQ </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="card.html" title="代金卡使用说明">
                        代金卡使用说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="coupon.html" title="优惠券使用说明">
                        优惠券使用说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="information.html" title="发票信息说明">
                        发票信息说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="alter.html" title="修改订单信息说明">
                        修改订单信息说明 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">配送方式</dt>
                <dd class="node-index content-item">
                    <a href="order.html" title="配送范围说明">
                        配送范围说明 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">生产经营资质</dt>
                <dd class="node-index content-item">
                    <a href="product.html" title="生产经营资质">
                        生产经营资质 </a>
                </dd>
            </dl>
        </div>
        <div class="article-right">
            <div class="article-title">
                <h2 style="color: #684029;">发票信息说明</h2>
            </div>
            <p class="article-time">发布日期：2017-02-08 00:00:00</p>

            <div class="article-body" style="color: #684029;font-size: 12px;">
                1 需要发票<br>
                下单时添加发票抬头和项目即可
                <br>
                <br>
                2 发票抬头<br>
                北京、天津：发票抬头不能为空，必须写公司全称或个人称呼；不能写公司简称或“个人”两个字，但可以写“xx先生/女士”，不可以开地名如“北京、上海”，不可以开“公司”两个字或“单位”两个字；<br>
                上海、杭州、苏州、无锡、广州、深圳：发票抬头不能为空，不能开繁体字抬头。<br>
                <br>
                <br>
                3 发票类型<br>
                电子发票，项目：食品、蛋糕、咖啡或冰淇淋。
                <br>
                <br>
                4 发票日期<br>
                以实际开票日期为准。（补开发票只能按照补开当日及以后日期开票，无法开过期发票。）
                <br>
                <br>
                5 补开发票原则<br>
                1个月内可以补开发票。
                <br>
                <br>
                6 电子发票<br>
                电子发票是指在购销商品、提供或者接受服务以及从事其他经营活动中，开具、收取的以电子方式存储的收付款凭证，21cake开具的电子发票均为真实有效的合法发票，与传统纸质发票具有同等法律效力，可作为用户维权、保修的有效凭据。
                <br>
                <br>
                6.1 到质量问题，电子发票是否能作为维权的依据？<br>
                根据北京市国家税务局、北京市地方税务局、北京市商务委员会、北京市工商行政管理局《关于电子发票应用试点若干事项的公告》（2013年第8号）、《关于扩大电子发票应用试点范围若干事项的公告》（2013年第18号文）；上海市国家税务局、上海市商务委员会、上海市发展和改革委员会、上海市财政局上海市工商行政管理局《关于上海市电子发票应用试点的公告》（2013年第6号文）；成都事国家税务局、成都市商务局、成都市发展和改革委员会、成都市财政局、成都市工商行政管理局《关于成都市电子发票应用试点若干事项的公告》（2014年第1号文）；广州市国家税务局、广州市发展和改革委员会、广州市经济贸易委员会、广州市财政局、广州市对外贸易经济合作局、广州市人民政府国有资产监督管理委员会、广州市工商行政管理局、广州市地方税务局《关于广州市电子发票应用试点的公告》（2014年第5号文），电子发票与纸质发票具有相同法律效力，可作为售后、维权凭据。
                <br>
                <br>
                6.2 电子发票通过什么方式发到顾客手中？<br>
                订单配送完成24小时后（通常为配送后第二个工作日），用户可登陆21cake个人账户，在订单详情页的发票区域下载电子发票。
                <br>
                <br>
                6.3 选择电子发票时页面上的手机号码和邮箱是必填的吗？<br>
                手机号码是必填项，税务局规定手机号码作为电子发票必填内容，方便用户在税务局指定的发票服务平台通过手机号码查询电子发票信息或接收税务局电子发票服务平台发送的电子发票开具的短信通知，因此需填写真实正确信息。邮箱为非必填项，但建议用户填写，方便用户通过邮箱收取电子发票通知。
                <br>
                <br>
                6.4 选择开具电子发票的顾客申请部分退货，发票如何处理？<br>
                开具电子发票的订单申请部分退货，原电子发票会通过系统自动冲红（原电子发票显示无效），并对未发生退货的商品重新自动开具电子发票。如整单退货，则我司将原电子发票做冲红处理（原电子发票显示无效）。
                <br>
                <br>
                6.5 如果选择了电子发票，后来又想要纸质的发票怎么办？<br>
                电子发票与纸质普票具有相同法律效力，是售后、用户维权的有效凭据，个人用户选择开具电子发票，若后期需要换取纸质普票，需要承担发票配送的运费，因此请谨慎选择发票类型。若涉及相关电子发票更换问题，请直接联系客服处理即可。
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <img class="footer-logo" src="../images/footer-logo.png" height="36" width="96" alt="">
    <div class="footer-nav">
        <a href="contact.html">联系我们</a>
        <span>|</span>
        <a href="order.html">订购帮助</a>
        <span>|</span>
        <a href="cooperate.html">企业合作</a>
        <span>|</span>
        <a href="product.html">生产经营资质</a>
        <span>|</span>
        <a href="bulletin.html">公告专区</a>
    </div>
    <div class="footer-icon">
        <a href="http://weibo.com/21cake" target="_blank">
            <img src="../images/footericon-01.png">
        </a>
        <a class="footer-weixin" onmouseover="move1()" onmouseout="out1()">
            <div class="footer-erweima footer-weixin-erweima">
                <img src="../images/erweima.png">
            </div>
            <img src="../images/footericon-02.png">
        </a>
        <a class="footer-app" onmouseover="move2()" onmouseout="out2()">
            <div class="footer-erweima footer-app-erweima">
                <img src="../images/footer-erweima.png">
            </div>
            APP
        </a>
    </div>

    <div class="footer-text">
        <span>订购专线：400 650 2121（服务时间 08:00–22:00）</span>
        <span>客服电话：021-23099721（全国） | kefu@21cake.com（邮箱）</span>
        <span>杭州/广州：提前5小时预订；北京：提前6小时预订；上海：提前5.5-6小时预订；天津/苏州/无锡/深圳：提前8小时预订（部分偏远地区除外，当日22点以后订单，于次日8点开始审核） </span>
        <span>当日蛋糕配送截止下单时间：北京：16:50；上海：16:30；杭州/广州：13:50；天津：10:30；苏州/无锡/深圳：11:00</span>
        <span>网站注册公司名称: 北京廿一客食品有限公司 地址: 北京市北京经济技术开发区兴海二街5号院3号楼 </span><br>
    </div>
    <div class="footer-copyright">
        <span>Copyright© 21Cake蛋糕官网商城 2007-2018, 版权所有 <a style="color: #9a9a9a" target="_blank"
                                                         href="http://www.miitbeian.gov.cn/">京ICP备14006254号-1</a></span>
    </div>
</div>
<script src="../lib/jquery/jquery.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/footer.js"></script>
</body>
</html>