<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>21Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="stylesheet" href="../css/qiYe_model.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/my-jinianri.css">
</head>
<body>
<!--导航栏部分-->
<header id="header">
    <div class="header-fixed">
        <nav class="center clearfix">
            <!--logo-->
            <a href="../home-page.html" class="nav-logo floatL">
                <img src="../images/logo.png" alt="廿一客">
            </a>
            <!--/logo-->

            <!--菜单-->
            <div class="nav-centerContent floatL">
                <ul class="clearfix">
                    <li>
                        <a href="../home-page.html">首页</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/caketext-1.html">蛋糕</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/caketext-2.html">冰淇淋</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/caketext-3.html">咖啡下午茶</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/caketext-4.html">面包</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/send.html">咖啡全国送</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/enterprise-zone.html">企业专区</a>
                        <span></span>
                    </li>
                </ul>
            </div>
            <!--/菜单-->

            <!--功能-->
            <div class="nav-function floatR">
                <ul class="clearfix">
                    <li class="show-children">
                        <span>APP下载</span>
                        <div class="youHuiErWeiMa">
                            <img src="../images/erweima2.png" alt="">
                            <p>下载享更多优惠</p>
                        </div>
                    </li>
                    <li class="show-children">
                        <span class="address-chose-default">成都</span>
                        <i></i>
                        <div class="address-chose">
                            <a href="javascript:void(0);">成都</a>
                            <a href="javascript:void(0);">重庆</a>
                            <a href="javascript:void(0);">西安</a>
                            <a href="javascript:void(0);">北京</a>
                        </div>
                    </li>
                    <li class="show-children">
                        <span>消息</span>
                        <div class="news">
                            <a href="loginSuccess-news.html">通知</a>
                            <a href="loginSuccess-news-wuliu.html">物流</a>
                        </div>
                        <i class="redDian"></i><!--==========注意：登陆后会根据情况显示的===========-->
                    </li>
                    <li class="ifDengLu-show-children show-children"><!--==========注意：登陆后加show-children属性========-->
                        <!--<a href="../pages/login.html">登录</a>/<a href="../pages/register.html">注册</a>-->
                        <p class="dengLu-success" style="display: block">
                            <img src="../images/user.png" alt="">
                        </p>
                        <div class="news user">
                            <a href="personalCenter.html">个人中心</a>
                            <a href="my-dingDan.html">我的订单</a>
                            <a href="liucoupan.html">我的优惠券</a>
                            <a href="my-jinianri.html">我的纪念日</a>
                            <a href="#">退出登录</a>
                        </div>
                    </li>
                    <li class="buy-cart">
                        <a href="../pages/shopCar.html">
                            <i></i>
                        </a>
                        <span class="num">3</span>
                    </li>
                </ul>
            </div>
            <!--/功能-->
        </nav>
    </div>
</header>
<!--/导航栏部分-->

<!--内容区-->
<section id="section">
    <div class="center">
        <div class="important_day_title">
            <span>纪念日管理</span>
            <span>开启提醒后，将提前2天发短信提醒至您的绑定手机:</span>
            <span>12345678901</span>
        </div>
        <div class="important_day_button important_day_title-button">+新纪念日</div>
        <div class="contentsBox">
            <div class="important_day_button">
                +新纪念日
            </div>
            <div class="important_day_tiShi">
                <img src="../images/aixin.png" alt="">
                <p>去添加纪念日获取奖励吧~ <br>(最多可获得5次)</p>
            </div>
        </div>
        <table cellpadding="0" cellspacing="0" id="myJiNian">
            <thead>
            <tr>
                <th>纪念日</th>
                <th>关系</th>
                <th>日期</th>
                <th>对方手机</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody class="noContent">
            <tr></tr>
            </tbody>
            <tbody class="marginBottom">

            <!--<tr>-->
                <!--<td>$value_important_day</td>-->
                <!--<td>$value_relationship</td>-->
                <!--<td>$value_date</td>-->
                <!--<td>$value_tel</td>-->
                <!--<td class="small_model_parent_td">-->
                    <!--<span class='changeContents'>编辑</span>-->
                    <!--<span class='deleteContents'>删除</span>-->
                    <!--<span>-->
                        <!--<label for="">短信通知</label>-->
                        <!--<input type="checkbox">-->
                    <!--</span>-->
                    <!--<div class="small_model">-->
                        <!--<p>确认删除?</p>-->
                        <!--<button>取消</button>-->
                        <!--<button>确认</button>-->
                        <!--<i></i>-->
                    <!--</div>-->

                <!--</td>-->
            <!--</tr>-->

            </tbody>
        </table>
    </div>
</section>
<!--/内容区-->

<!--页脚-->
<footer id="footer">
    <div class="footer">
        <img class="footer-logo" src="../images/footer-logo.png" height="36" width="96" alt="">
        <div class="footer-nav">
            <a href="../pages/contact.html">联系我们</a>
            <span>|</span>
            <a href="../pages/order.html">订购帮助</a>
            <span>|</span>
            <a href="../pages/cooperate.html">企业合作</a>
            <span>|</span>
            <a href="../pages/product.html">生产经营资质</a>
            <span>|</span>
            <a href="../pages/bulletin.html">公告专区</a>
        </div>
        <div class="footer-icon">
            <a href="http://weibo.com/21cake" target="_blank">
                <img src="../images/footericon-01.png">
            </a>
            <a class="footer-weixin" onmouseover="move1()" onmouseout="out1()">
                <div class="footer-erweima footer-weixin-erweima">
                    <img src="../images/erweima.png">
                </div>
                <img src="../images/footericon-02.png">
            </a>
            <a class="footer-app" onmouseover="move2()" onmouseout="out2()">
                <div class="footer-erweima footer-app-erweima">
                    <img src="../images/footer-erweima.png">
                </div>
                APP
            </a>
        </div>

        <div class="footer-text">
            <span>订购专线：400 650 2121（服务时间 08:00–22:00）</span>
            <span>客服电话：021-23099721（全国） | kefu@21cake.com（邮箱）</span>
            <span>杭州/广州：提前5小时预订；北京：提前6小时预订；上海：提前5.5-6小时预订；天津/苏州/无锡/深圳：提前8小时预订（部分偏远地区除外，当日22点以后订单，于次日8点开始审核） </span>
            <span>当日蛋糕配送截止下单时间：北京：16:50；上海：16:30；杭州/广州：13:50；天津：10:30；苏州/无锡/深圳：11:00</span>
            <span>网站注册公司名称: 北京廿一客食品有限公司 地址: 北京市北京经济技术开发区兴海二街5号院3号楼 </span><br>
        </div>
        <div class="footer-copyright">
        <span>
            Copyright© 21Cake蛋糕官网商城 2007-2018, 版权所有
            <a style="color: #9a9a9a" target="_blank" href="http://www.miitbeian.gov.cn/">
                京ICP备14006254号-1
            </a>
        </span>
        </div>
    </div>
</footer>
<!--/页脚-->


<script src="../lib/jquery-1.12.4.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/qiYe_model.js"></script>
<script src="../js/footer.js"></script>
<script src="../js/my-jinianri.js"></script>
</body>
</html>