<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支付宝 - 网上支付 安全快速！</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/Pay.css"/>
</head>
<body>
<header>
    <div class="top">
        <div class="top-wrap">
            <a class="top-last" href="https://help.alipay.com/lab/help_detail.htm?help_id=258086">常见问题</a>
            <span class="top-first">你好，欢迎使用支付宝付款！</span>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="title">
                <div class="logo"></div>
                <span class="logo-title">我的收银台</span>
            </div>
        </div>
    </div>
</header>
<section class="center-all">
    <div class="first clearfix">
        <span class="text-1">
            <span>正在使用即时到账支付</span>
            <!--<span class="wenhao">[?]</span>-->
        </span>
        <span class="text-1 text-2">
            <span>
                交易将在
                <span id="order-time">5分钟</span>
                后关闭，请及时付款!
            </span>
        </span>

        <div class="price">
            <span id="price">298.00</span>
            元
        </div>
        <div class="line-item-1">
            订单详情
        </div>
    </div>
    <div class="dingdan">
            <span id="order-Number">
                24小时蛋糕网上订购(订单号：20181105118368)
            </span>
        <span class="shoukuan">
                收款方：北京廿一客食品有限...
        </span>
        <div class="price-x">
            <span id="price-x">298.00</span>
            元
        </div>
        <br/>
        <br/>
        <table>
            <tbody>
            <tr>
                <th class="sub-th">收款方:</th>
                <td>北京廿一客食品有限公司</td>
            </tr>
            <tr>
                <th class="sub-th">订单号:</th>
                <td>15414039061007</td>
            </tr>
            <tr>
                <th class="sub-th">商品名称:</th>
                <td>24小时蛋糕网上订购(订单号：20181105154011)</td>
            </tr>
            <tr>
                <th class="sub-th">商品描述:</th>
                <td>Black and White Chocolate Mousse 黑白巧克力慕斯（千阳号） * 1</td>
            </tr>
            <tr>
                <th class="sub-th">交易金额:</th>
                <td>298.00</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="line-item-2">
        订单详情
    </div>
    <div class="second">
        <div class="saoma">
            <div class="saoyisao">
                <div class="price-1">扫一扫付款(元)</div>
                <div id="price-2">298.00</div>
            </div>
            <div class="quickMark">
                <div>
                    <img class="sao" src="../images/saoyisao.png" alt=""/>

                    <img src="../images/quickMark.png" alt=""/>
                </div>
                <div class="idea">
                    <div>
                        <img class="" src="../images/saosao.png" alt=""/>
                    </div>
                    <div class="text-3">
                        <span>打开手机支付宝</span>
                        <br/>
                        <span class="text-3-2">扫一扫继续付款</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="qrcode-foot">
            <a href="">首次使用请下载手机支付宝</a>
        </div>

    </div>

</section>
<footer>
    <div class="footer">
        <a href="https://fun.alipay.com/certificate/jyxkz.htm">ICP证：沪B2-20150087</a>
    </div>
    <div class="partner">
        <img src="../images/partner.png" alt=""/>
    </div>
</footer>

<script src="../lib/jquery-1.12.4.js"></script>
<script src="../js/Pay.js"></script>

</body>
</html>