<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>21Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>
<!--导航栏部分-->
<header id="header">
    <div class="header-fixed">
        <nav class="center clearfix">
            <!--logo-->
            <a href="../home-page.html" class="nav-logo floatL">
                <img src="../images/logo.png" alt="廿一客">
            </a>
            <!--/logo-->

            <!--菜单-->
            <div class="nav-centerContent floatL">
                <ul class="clearfix">
                    <li>
                        <a href="../home-page.html">首页</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/caketext-1.html">蛋糕</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/caketext-2.html">冰淇淋</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/caketext-3.html">咖啡下午茶</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/caketext-4.html">面包</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/send.html">咖啡全国送</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/enterprise-zone.html">企业专区</a>
                        <span></span>
                    </li>
                </ul>
            </div>
            <!--/菜单-->

            <!--功能-->
            <div class="nav-function floatR">
                <ul class="clearfix">
                    <li class="show-children">
                        <span>APP下载</span>
                        <div class="youHuiErWeiMa">
                            <img src="../images/erweima2.png" alt="">
                            <p>下载享更多优惠</p>
                        </div>
                    </li>
                    <li class="show-children">
                        <span class="address-chose-default">成都</span>
                        <i></i>
                        <div class="address-chose">
                            <a href="javascript:void(0);">成都</a>
                            <a href="javascript:void(0);">重庆</a>
                            <a href="javascript:void(0);">西安</a>
                            <a href="javascript:void(0);">北京</a>
                        </div>
                    </li>
                    <li class="show-children">
                        <span>消息</span>
                        <div class="news">
                            <a href="../pages/loginSuccess-news.html">通知</a>
                            <a href="../pages/loginSuccess-news-wuliu.html">物流</a>
                        </div>
                        <i class="redDian"></i><!--==========注意：登陆后会根据情况显示的===========-->
                    </li>
                    <li class="ifDengLu-show-children"><!--==========注意：登陆后加show-children属性========-->
                        <a href="../pages/login.html">登录</a>/<a href="../pages/register.html">注册</a>
                        <p class="dengLu-success">
                            <img src="../images/user.png" alt="">
                        </p>
                        <div class="news user">
                            <a href="#">我的订单</a>
                            <a href="#">我的优惠券</a>
                            <a href="#">我的纪念日</a>
                            <a href="#">退出登录</a>
                        </div>
                    </li>
                    <li class="buy-cart">
                        <a href="../pages/shopcar.html">
                            <i></i>
                        </a>
                        <span class="num">3</span>
                    </li>
                </ul>
            </div>
            <!--/功能-->
        </nav>
    </div>
</header>
<!--/导航栏部分-->

<div class="content-box article clearfix" style="min-height: 75px;">
    <div class="bread-crumbs">
            <span>
                <a href="#" alt="" title="" style="font-size: 12px">关于21Cake</a>
            </span>
        <span style="font-size: 12px">&nbsp;&gt;&nbsp;</span>
        <span class="now" style="font-size: 12px">产品理念</span>
    </div>
    <div class="article-main">
        <div class="article-left">
            <dl class="content-list">
                <dt class="content-title">公司公告</dt>
                <dd class="node-index content-item">
                    <a href="21cakeBulletin.html" title="21cake公告">
                        21cake公告 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">关于21Cake</dt>
                <dd class="node-index content-item">
                    <a href="contact.html" title="联系我们">
                        联系我们 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="cooperate.html" title="21cake企业合作">
                        21cake企业合作 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="history.html" title="21cake品牌历史">
                        21cake品牌历史 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="productIdea.html" title="产品理念">
                        产品理念
                    </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">购物指南</dt>
                <dd class="node-index content-item">
                    <a href="privacy.html" title="隐私保护政策">
                        隐私保护政策 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="vip.html" title="会员注册协议">
                        会员注册协议 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="instruction.html" title="蛋糕预订说明">
                        蛋糕预订说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="faq.html" title="会员体系FAQ">
                        会员体系FAQ </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="card.html" title="代金卡使用说明">
                        代金卡使用说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="coupon.html" title="优惠券使用说明">
                        优惠券使用说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="information.html" title="发票信息说明">
                        发票信息说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="alter.html" title="修改订单信息说明">
                        修改订单信息说明 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">配送方式</dt>
                <dd class="node-index content-item">
                    <a href="order.html" title="配送范围说明">
                        配送范围说明 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">生产经营资质</dt>
                <dd class="node-index content-item">
                    <a href="product.html" title="生产经营资质">
                        生产经营资质 </a>
                </dd>
            </dl>
        </div>
        <div class="article-right">
            <div class="article-title">
                <h2 style="color: #684029;">产品理念</h2>
            </div>
            <p class="article-time">发布日期：2010-10-01 00:00:00</p>

            <div class="article-body" style="color: #684029;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                <font size="2">
                    <span style="font-family: 'Microsoft Yahei';">很难想象，奶油蛋糕到了中国，竟会变成这个样子——植脂奶油大行其道。
                    </span>
                    <br>
                    <span style="font-family: 'Microsoft Yahei'; ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 人类总是那么自作聪明，拒绝大自然天然的馈赠。
                        你也许不明白，什么是植脂奶油——以植物脂肪和植物蛋白为主要成分，添加乳化剂、稳定剂、蛋白质、糖、食 盐、色素、香精等辅料，
                        经特殊工艺加工而制成的一种奶油仿制品。在发泡性、稳定性、保形性、保存性等方面比天然奶油好，是搅打后泡沫丰富的蛋糕表面装饰、
                        裱花料。可话说回来，如果人工合成的东西那么完美，大自然又为何要无私馈赠呢？
                    </span>
                    <br>
                    <span style="font-family: 'Microsoft Yahei';">乳脂奶油则不同，主要从天然新鲜牛奶中提取，无任何色素和添加剂。
                        相比之下，乳脂奶油比植脂奶油贵三倍，口感上也更加甜润地道，确切地说，是否使用乳脂奶油，是蛋糕好坏与否的根本标准。
                        没有一个纯正的欧洲品牌，会采用植脂奶油。
                    </span>
                    <br>
                    <span style="font-family: 'Microsoft Yahei'; ">采用乳脂奶油的廿一客蛋糕，的确没有你曾经吃过的植脂奶油蛋糕保质期长。
                        但就像鲜花容易凋谢，真正自然的美味，一向如此。同时这更要求我们从订单到美味送达，一定要时间极短。甚至为获得绝佳口感，
                        连制作和享用的温度都是苛刻的，在这一点上，我们和极品干邑如出一辙。
                    </span><br><font face="Microsoft Yahei">
                    <br>
                </font>
                    <span style="font-family: 'Microsoft Yahei';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 奶油、黄油、巧克力、
                        奶酪……全部为世界不同原产地顶级原材料。
                    </span>
                    <br>
                    <font face="Microsoft Yahei">
                        <br>
                    </font>
                    <span style="font-family: 'Microsoft Yahei';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 廿一客坚持选用来自新西兰的天然乳脂奶油，
                        并且在艺术上同样坚持美感与质感俱善，所有原材料均选用地道极品，近50种源自国外，并由廿一客亲自挑选、加工。
                    </span>
                    <br>
                    <span style="font-family: 'Microsoft Yahei'; ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 来自新西兰的奶油和来自比利时的巧克力，
                        是蛋糕最纯正的选择，也是蓝天白云和浪漫温馨的异国情怀；来自美国或土耳其的榛子、新西兰的猕猴桃和金果、美国的 黑樱桃，
                        是水果坚果中的极品；来自牙买加的摩根船长朗姆酒、爱尔兰百利甜酒，还有上品的白兰地、樱桃酒和咖啡酒调出风味，
                        更加令人倾倒……我们其实明白， 如果这一切都从国内选购，一定能轻松很多，当然，那样也就不会有与众不同的廿一客。
                    </span>
                    <br>
                    <span style="font-family: 'Microsoft Yahei'; ">与很多你曾经吃过的蛋糕坯子的单调口味相比，廿一客的每一款蛋糕必须用原料烘烤蛋糕坯，
                        如果我不说，你一定不会知道，但味蕾不会欺骗你。比如栗蓉暗香真的用上好栗子来烘烤蛋糕坯……坯子各具精髓和风味，
                        宛如真爱，多样但永远唯一。
                    </span>
                    <br>
                    <font face="Microsoft Yahei">
                        <br>
                    </font>
                    <span style="font-family: 'Microsoft Yahei';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 在欧洲传统工艺的基础上，充分发挥创意，
                        原创全新而时尚的口味。
                    </span>
                    <br>
                    <font face="Microsoft Yahei">
                        <br>
                    </font>
                    <span style="font-family: 'Microsoft Yahei'; ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 廿一客尊重并了解，蛋糕时尚性的根本驱动力是创意和产品。
                        在配方、口味、形制等任何细节，廿一客从未停止对新产品和新口味的信仰和研判，至今已诞生数十种独创品类。
                        同时，廿一客从全球范围内的材质精选、制作工艺、后期服务等方面为实现创意做出保证。
                    </span>
                    <br>
                    <font face="Microsoft Yahei">
                        <br>
                    </font>
                    <span style="font-family: 'Microsoft Yahei'; ">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 杜绝任何色素、添加剂与防腐剂。
                    </span>
                    <br>
                    <font face="Microsoft Yahei">
                        <br>
                    </font>
                    <span style="font-family: 'Microsoft Yahei';">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 廿一客认为，真正的自然美味，
                        均有其自身的生命规律，人力智慧应该用在如何保护食物的天然本色上，这样做，不只是为了健康，更是尊重每一种精心挑选的地道食材。
                    </span>
                </font>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <img class="footer-logo" src="../images/footer-logo.png" height="36" width="96" alt="">
    <div class="footer-nav">
        <a href="contact.html">联系我们</a>
        <span>|</span>
        <a href="order.html">订购帮助</a>
        <span>|</span>
        <a href="cooperate.html">企业合作</a>
        <span>|</span>
        <a href="product.html">生产经营资质</a>
        <span>|</span>
        <a href="bulletin.html">公告专区</a>
    </div>
    <div class="footer-icon">
        <a href="http://weibo.com/21cake" target="_blank">
            <img src="../images/footericon-01.png">
        </a>
        <a class="footer-weixin" onmouseover="move1()" onmouseout="out1()">
            <div class="footer-erweima footer-weixin-erweima">
                <img src="../images/erweima.png">
            </div>
            <img src="../images/footericon-02.png">
        </a>
        <a class="footer-app" onmouseover="move2()" onmouseout="out2()">
            <div class="footer-erweima footer-app-erweima">
                <img src="../images/footer-erweima.png">
            </div>
            APP
        </a>
    </div>

    <div class="footer-text">
        <span>订购专线：400 650 2121（服务时间 08:00–22:00）</span>
        <span>客服电话：021-23099721（全国） | kefu@21cake.com（邮箱）</span>
        <span>杭州/广州：提前5小时预订；北京：提前6小时预订；上海：提前5.5-6小时预订；天津/苏州/无锡/深圳：提前8小时预订（部分偏远地区除外，当日22点以后订单，于次日8点开始审核） </span>
        <span>当日蛋糕配送截止下单时间：北京：16:50；上海：16:30；杭州/广州：13:50；天津：10:30；苏州/无锡/深圳：11:00</span>
        <span>网站注册公司名称: 北京廿一客食品有限公司 地址: 北京市北京经济技术开发区兴海二街5号院3号楼 </span><br>
    </div>
    <div class="footer-copyright">
        <span>Copyright© 21Cake蛋糕官网商城 2007-2018, 版权所有 <a style="color: #9a9a9a" target="_blank"
                                                         href="http://www.miitbeian.gov.cn/">京ICP备14006254号-1</a></span>
    </div>
</div>
<script src="../lib/jquery/jquery.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/footer.js"></script>
</body>
</html>