<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>官方发糖</title>
    <link rel="shortcut icon" type="image/x-icon"  th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/secondPage.css}"/>
</head>
<body>
<section class="center">
    <p class="title">官方发糖</p>
    <p class="time">发布时间：2018-10-26</p>
    <div class="content-box">
        <img th:src="@{/images/Trick-or-Cake.jpg}" alt=""/>
        <img th:src="@{/images/Trick-or-Cake-2.jpg}" alt=""/>
    </div>
</section>


</body>
</html>