<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>21Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
<!--导航栏部分-->
<header id="header">
    <div class="header-fixed">
        <nav class="center clearfix">
            <!--logo-->
            <a href="../home-page.html" class="nav-logo floatL">
                <img src="../images/logo.png" alt="廿一客">
            </a>
            <!--/logo-->

            <!--菜单-->
            <div class="nav-centerContent floatL">
                <ul class="clearfix">
                    <li>
                        <a href="../home-page.html" class="changeColor">首页</a>
                        <span class="showSpan"></span>
                    </li>
                    <li>
                        <a href="caketext-1.html">蛋糕</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="caketext-2.html">冰淇淋</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="caketext-3.html">咖啡下午茶</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="caketext-4.html">面包</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="send.html">咖啡全国送</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="enterprise-zone.html">企业专区</a>
                        <span></span>
                    </li>
                </ul>
            </div>
            <!--/菜单-->

            <!--功能-->
            <div class="nav-function floatR">
                <ul class="clearfix">
                    <li class="show-children">
                        <span>APP下载</span>
                        <div class="youHuiErWeiMa">
                            <img src="../images/erweima2.png" alt="">
                            <p>下载享更多优惠</p>
                        </div>
                    </li>
                    <li class="show-children">
                        <span class="address-chose-default">成都</span>
                        <i></i>
                        <div class="address-chose">
                            <a href="javascript:void(0);">成都</a>
                            <a href="javascript:void(0);">重庆</a>
                            <a href="javascript:void(0);">西安</a>
                            <a href="javascript:void(0);">北京</a>
                        </div>
                    </li>
                    <li class="show-children">
                        <span>消息</span>
                        <div class="news">
                            <a href="loginSuccess-news.html">通知</a>
                            <a href="loginSuccess-news-wuliu.html">物流</a>
                        </div>
                        <i class="redDian"></i><!--==========注意：登陆后会根据情况显示的===========-->
                    </li>
                    <li class="ifDengLu-show-children show-children"><!--==========注意：登陆后加show-children属性========-->
                        <!--<a href="login.html">登录</a>/<a href="register.html">注册</a>-->
                        <p class="dengLu-success" style="display: block">
                            <img src="../images/user.png" alt="">
                        </p>
                        <div class="news user">
                            <a href="personalCenter.html">个人中心</a>
                            <a href="my-dingDan.html">我的订单</a>
                            <a href="liucoupan.html">我的优惠券</a>
                            <a href="my-jinianri.html">我的纪念日</a>
                            <a href="#">退出登录</a>
                        </div>
                    </li>
                    <li class="buy-cart">
                        <a href="shopCar.html">
                            <i></i>
                        </a>
                        <span class="num">3</span>
                    </li>
                </ul>
            </div>
            <!--/功能-->
        </nav>
    </div>
</header>
<!--/导航栏部分-->

<!--轮播-->
<section id="broadcast">
    <div class="broadCast-imgBox">
        <!--图片盒子-->
        <div class="broadCast-imgOne broadCast-img show"><a href="secondPage.html"></a></div>
        <div class="broadCast-imgTwo broadCast-img"><a href="thirdPage.html"></a></div>
        <div class="broadCast-imgThree broadCast-img"><a href="fourthPage.html"></a></div>
        <div class="broadCast-imgFour broadCast-img"><a href="#"></a></div>
        <div class="broadCast-imgFive broadCast-img"><a href="#"></a></div>

        <!--分页器部分-->
        <ul class="clearfix">
            <li class="black"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>
<!--/轮播-->

<!--内容区-->
<section id="home-contents">
    <div class="center">
        <!--新品、生日、儿童、聚会、活动专区-->
        <div class="contents-header">
            <a href="#one">
                <img src="../images/L-1.png" alt="新品" title="新品">
            </a>
            <a href="#two">
                <img src="../images/L-2.png" alt="生日" title="生日">
            </a>
            <a href="#three">
                <img src="../images/L-3.png" alt="儿童" title="儿童">
            </a>
            <a href="#four">
                <img src="../images/L-4.png" alt="聚会" title="聚会">
            </a>
            <a href="#five">
                <img src="../images/L-5.png" alt="活动专区" title="活动专区">
            </a>
        </div>
        <!--新品-->
        <div class="contents-common contents-newProducts" id="one">
            <!--小标题-->
            <div class="contents-common-hd">
                <span>新品</span>
                /
                <span>专区</span>
            </div>

            <!--banner-->
            <div class="contents-common-banner">
                <a href="xinPin.html">
                    <img src="../images/L-6.jpg" alt="">
                </a>
            </div>

            <!--展示区1-->
            <div class="contents-common-display">
                <ul class="clearfix">
                    <!--1-->
                    <li>
                        <div class="inner-img">
                            <a href="qiancao.html">
                                <img src="../images/LL-1.png" alt="">
                            </a>
                        </div>

                        <a href="qiancao.html" class="inner-title">
                            <h6>浅草</h6>
                            <p>绿茶与南水梨的结合</p>
                        </a>

                        <div class="inner-label">
                            <a href="xinPin.html">新品></a>
                            <a href="renqi.html">人气></a>
                            <a href="birthday.html">生日></a>
                            <a href="acquaintance.html">相识></a>
                        </div>

                        <div class="inner-money">
                            <div class="inner-money-left floatL">¥298.00/2.0磅</div>
                            <div class="inner-money-right floatR add_cart">加入购物车</div>
                        </div>
                        <!--加入购物车-->
                        <div class="inner-addBuy">
                            <div class="inner-addBuy-title">￥298.00/1.0磅</div>
                            <div class="inner-addBuy-chose">
                                <a href="javascript:void(0);">
                                    1.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);" class="border">
                                    2.0磅
                                    <i class="iconfont showI">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    3.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    5.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                            </div>
                            <div class="inner-addBuy-btn">
                                <button type="button">
                                    <a href="javascript:void(0);">立即购买</a>
                                </button>
                                <button type="button" class="addGoods">加入购物车</button>
                            </div>
                        </div>

                        <!--加入购物车成功-->
                        <div class="inner-addBuySuccess">
                            <div>
                                <i class="iconfont">&#xe615;</i>
                                <span>成功加入购物车</span>
                            </div>
                            <button>查看购物车</button>
                        </div>
                    </li>
                    <!--2-->
                    <li>
                        <div class="inner-img">
                            <a href="haizeiwang.html">
                                <img src="../images/LL-2.png" alt="">
                            </a>
                        </div>

                        <a href="haizeiwang.html" class="inner-title">
                            <h6>黑白巧克力慕斯（千阳号）</h6>
                            <p>21cake x One Piece"千阳号"浮出水面</p>
                        </a>

                        <div class="inner-label">
                            <a href="xinPin.html">新品></a>
                            <a href="child.html">儿童></a>
                            <a href="#"></a>
                            <a href="#"></a>
                        </div>

                        <div class="inner-money">
                            <div class="inner-money-left floatL">¥358.00/2.0磅</div>
                            <div class="inner-money-right floatR add_cart">加入购物车</div>
                        </div>
                        <!--加入购物车-->
                        <div class="inner-addBuy">
                            <div class="inner-addBuy-title">￥358.00/1.0磅</div>
                            <div class="inner-addBuy-chose">
                                <a href="javascript:void(0);">
                                    1.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);" class="border">
                                    2.0磅
                                    <i class="iconfont showI">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    3.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);"></a>
                            </div>
                            <div class="inner-addBuy-btn">
                                <button type="button">
                                    <a href="javascript:void(0);">立即购买</a>
                                </button>
                                <button type="button" class="addGoods">加入购物车</button>
                            </div>
                        </div>

                        <!--加入购物车成功-->
                        <div class="inner-addBuySuccess">
                            <div>
                                <i class="iconfont">&#xe615;</i>
                                <span>成功加入购物车</span>
                            </div>
                            <button>查看购物车</button>
                        </div>
                    </li>
                    <!--3-->
                    <li>
                        <div class="inner-img">
                            <a href="goods-description.html">
                                <img src="../images/LL-3.png" alt="">
                            </a>
                        </div>

                        <a href="goods-description.html" class="inner-title">
                            <h6>清境</h6>
                            <p>当薄荷的清新，遇上青柠的淡香</p>
                        </a>

                        <div class="inner-label">
                            <a href="xinPin.html">新品></a>
                            <a href="party.html">聚会></a>
                            <a href="acquaintance.html">相识></a>
                            <a href="#"></a>
                        </div>

                        <div class="inner-money">
                            <div class="inner-money-left floatL">¥298.00/2.0磅</div>
                            <div class="inner-money-right floatR add_cart">加入购物车</div>
                        </div>
                        <!--加入购物车-->
                        <div class="inner-addBuy">
                            <div class="inner-addBuy-title">￥298.00/1.0磅</div>
                            <div class="inner-addBuy-chose">
                                <a href="javascript:void(0);">
                                    1.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);" class="border">
                                    2.0磅
                                    <i class="iconfont showI">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    3.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    5.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                            </div>
                            <div class="inner-addBuy-btn">
                                <button type="button">
                                    <a href="javascript:void(0);">立即购买</a>
                                </button>
                                <button type="button" class="addGoods">加入购物车</button>
                            </div>
                        </div>

                        <!--加入购物车成功-->
                        <div class="inner-addBuySuccess">
                            <div>
                                <i class="iconfont">&#xe615;</i>
                                <span>成功加入购物车</span>
                            </div>
                            <button>查看购物车</button>
                        </div>
                    </li>
                    <!--4-->
                    <li>
                        <div class="inner-img">
                            <a href="goods-description.html">
                                <img src="../images/LL-4.png" alt="">
                            </a>
                        </div>

                        <a href="goods-description.html" class="inner-title">
                            <h6>芒果慕斯</h6>
                            <p>优质芒果的三种姿态，与青柠酸乳酪夹心</p>
                        </a>

                        <div class="inner-label">
                            <a href="child.html">儿童></a>
                            <a href="party.html">聚会></a>
                            <a href="xinPin.html">新品></a>
                            <a href="acquaintance.html">相识></a>
                        </div>

                        <div class="inner-money">
                            <div class="inner-money-left floatL">¥298.00/2.0磅</div>
                            <div class="inner-money-right floatR add_cart">加入购物车</div>
                        </div>
                        <!--加入购物车-->
                        <div class="inner-addBuy">
                            <div class="inner-addBuy-title">￥298.00/1.0磅</div>
                            <div class="inner-addBuy-chose">
                                <a href="javascript:void(0);">
                                    1.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);" class="border">
                                    2.0磅
                                    <i class="iconfont showI">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    3.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    5.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                            </div>
                            <div class="inner-addBuy-btn">
                                <button type="button">
                                    <a href="javascript:void(0);">立即购买</a>
                                </button>
                                <button type="button" class="addGoods">加入购物车</button>
                            </div>
                        </div>

                        <!--加入购物车成功-->
                        <div class="inner-addBuySuccess">
                            <div>
                                <i class="iconfont">&#xe615;</i>
                                <span>成功加入购物车</span>
                            </div>
                            <button>查看购物车</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!--生日-->
        <div class="contents-common contents-birthday" id="two">
            <!--小标题-->
            <div class="contents-common-hd">
                <span>生日</span>
                /
                <span>专区</span>
            </div>

            <!--banner-->
            <div class="contents-common-banner">
                <a href="birthday.html">
                    <img src="../images/L-7.jpg" alt="">
                </a>
            </div>

            <!--展示区1-->
            <div class="contents-common-display">
                <ul class="clearfix">
                    <!--1-->
                    <li>
                        <div class="inner-img">
                            <a href="#">
                                <img src="../images/LL-5.png" alt="">
                            </a>
                        </div>

                        <a href="#" class="inner-title">
                            <h6>百利甜情人</h6>
                            <p>新切的水果与刚折的玫瑰，甜美、渐浓</p>
                        </a>

                        <div class="inner-label">
                            <a href="qingLv.html">情侣></a>
                            <a href="renqi.html">人气></a>
                            <a href="#"></a>
                            <a href="#"></a>
                        </div>

                        <div class="inner-money">
                            <div class="inner-money-left floatL">¥298.00/2.0磅</div>
                            <div class="inner-money-right floatR add_cart">加入购物车</div>
                        </div>
                        <!--加入购物车-->
                        <div class="inner-addBuy">
                            <div class="inner-addBuy-title">￥298.00/1.0磅</div>
                            <div class="inner-addBuy-chose">
                                <a href="javascript:void(0);">
                                    1.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);" class="border">
                                    2.0磅
                                    <i class="iconfont showI">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    3.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    5.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                            </div>
                            <div class="inner-addBuy-btn">
                                <button type="button">
                                    <a href="javascript:void(0);">立即购买</a>
                                </button>
                                <button type="button" class="addGoods">加入购物车</button>
                            </div>
                        </div>

                        <!--加入购物车成功-->
                        <div class="inner-addBuySuccess">
                            <div>
                                <i class="iconfont">&#xe615;</i>
                                <span>成功加入购物车</span>
                            </div>
                            <button>查看购物车</button>
                        </div>
                    </li>
                    <!--2-->
                    <li>
                        <div class="inner-img">
                            <a href="#">
                                <img src="../images/LL-6.png" alt="">
                            </a>
                        </div>

                        <a href="#" class="inner-title">
                            <h6>榴莲飘飘</h6>
                            <p>丰厚乳脂奶油，打入足量榴莲果肉</p>
                        </a>

                        <div class="inner-label">
                            <a href="renqi.html">人气></a>
                            <a href="birthday.html">生日></a>
                            <a href="#"></a>
                            <a href="#"></a>
                        </div>

                        <div class="inner-money">
                            <div class="inner-money-left floatL">¥358.00/2.0磅</div>
                            <div class="inner-money-right floatR add_cart">加入购物车</div>
                        </div>
                        <!--加入购物车-->
                        <div class="inner-addBuy">
                            <div class="inner-addBuy-title">￥358.00/1.0磅</div>
                            <div class="inner-addBuy-chose">
                                <a href="javascript:void(0);">
                                    1.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);" class="border">
                                    2.0磅
                                    <i class="iconfont showI">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    3.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);"></a>
                            </div>
                            <div class="inner-addBuy-btn">
                                <button type="button">
                                    <a href="javascript:void(0);">立即购买</a>
                                </button>
                                <button type="button" class="addGoods">加入购物车</button>
                            </div>
                        </div>

                        <!--加入购物车成功-->
                        <div class="inner-addBuySuccess">
                            <div>
                                <i class="iconfont">&#xe615;</i>
                                <span>成功加入购物车</span>
                            </div>
                            <button>查看购物车</button>
                        </div>
                    </li>
                    <!--3-->
                    <li>
                        <div class="inner-img">
                            <a href="#">
                                <img src="../images/LL-7.png" alt="">
                            </a>
                        </div>

                        <a href="#" class="inner-title">
                            <h6> 黑白巧克力慕斯 彼尔德（生日）</h6>
                            <p>卡通定制撒粉，简单、柔软</p>
                        </a>

                        <div class="inner-label">
                            <a href="xinPin.html">新品></a>
                            <a href="birthday.html">生日></a>
                            <a href="#"></a>
                            <a href="#"></a>
                        </div>

                        <div class="inner-money">
                            <div class="inner-money-left floatL">¥298.00/2.0磅</div>
                            <div class="inner-money-right floatR add_cart">加入购物车</div>
                        </div>
                        <!--加入购物车-->
                        <div class="inner-addBuy">
                            <div class="inner-addBuy-title">￥298.00/1.0磅</div>
                            <div class="inner-addBuy-chose">
                                <a href="javascript:void(0);">
                                    1.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);" class="border">
                                    2.0磅
                                    <i class="iconfont showI">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    3.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    5.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                            </div>
                            <div class="inner-addBuy-btn">
                                <button type="button">
                                    <a href="javascript:void(0);">立即购买</a>
                                </button>
                                <button type="button" class="addGoods">加入购物车</button>
                            </div>
                        </div>

                        <!--加入购物车成功-->
                        <div class="inner-addBuySuccess">
                            <div>
                                <i class="iconfont">&#xe615;</i>
                                <span>成功加入购物车</span>
                            </div>
                            <button>查看购物车</button>
                        </div>
                    </li>
                    <!--4-->
                    <li>
                        <div class="inner-img">
                            <a href="#">
                                <img src="../images/LL-8.png" alt="">
                            </a>
                        </div>

                        <a href="#" class="inner-title">
                            <h6>枣儿</h6>
                            <p>红枣奶油戚风，与姜撞奶慕斯</p>
                        </a>

                        <div class="inner-label">
                            <a href="xinPin.html">新品></a>
                            <a href="birthday.html">生日></a>
                            <a href="#"></a>
                            <a href="#"></a>
                        </div>

                        <div class="inner-money">
                            <div class="inner-money-left floatL">¥298.00/2.0磅</div>
                            <div class="inner-money-right floatR add_cart">加入购物车</div>
                        </div>
                        <!--加入购物车-->
                        <div class="inner-addBuy">
                            <div class="inner-addBuy-title">￥298.00/1.0磅</div>
                            <div class="inner-addBuy-chose">
                                <a href="javascript:void(0);">
                                    1.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);" class="border">
                                    2.0磅
                                    <i class="iconfont showI">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    3.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    5.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                            </div>
                            <div class="inner-addBuy-btn">
                                <button type="button">
                                    <a href="javascript:void(0);">立即购买</a>
                                </button>
                                <button type="button" class="addGoods">加入购物车</button>
                            </div>
                        </div>

                        <!--加入购物车成功-->
                        <div class="inner-addBuySuccess">
                            <div>
                                <i class="iconfont">&#xe615;</i>
                                <span>成功加入购物车</span>
                            </div>
                            <button>查看购物车</button>
                        </div>
                    </li>
                </ul>
                <!--1-->
                <!--<div class="contents-common-display-inner">-->
                <!--<div class="inner-img">-->
                <!--<img src="images/LL-1.png" alt="">-->
                <!--</div>-->
                <!---->
                <!--</div>-->

            </div>
        </div>

        <!--儿童-->
        <div class="contents-common contents-children" id="three">
            <!--小标题-->
            <div class="contents-common-hd">
                <span>儿童</span>
                /
                <span>专区</span>
            </div>

            <!--banner-->
            <div class="contents-common-banner">
                <a href="child.html">
                    <img src="../images/L-8.jpg" alt="">
                </a>
            </div>

            <!--展示区1-->
            <div class="contents-common-display">
                <ul class="clearfix">
                    <!--1-->
                    <li>
                        <div class="inner-img">
                            <a href="#">
                                <img src="../images/LL-7.png" alt="">
                            </a>
                        </div>

                        <a href="#" class="inner-title">
                            <h6>黑白巧克力慕斯 彼尔德（Party）</h6>
                            <p>“ 孩子的世界，简单到非黑即白。”</p>
                        </a>

                        <div class="inner-label">
                            <a href="child.html">儿童></a>
                            <a href="xinPin.html">新品></a>
                            <a href="acquaintance.html">相识></a>
                            <a href="#"></a>
                        </div>

                        <div class="inner-money">
                            <div class="inner-money-left floatL">¥298.00/2.0磅</div>
                            <div class="inner-money-right floatR add_cart">加入购物车</div>
                        </div>
                        <!--加入购物车-->
                        <div class="inner-addBuy">
                            <div class="inner-addBuy-title">￥298.00/1.0磅</div>
                            <div class="inner-addBuy-chose">
                                <a href="javascript:void(0);">
                                    1.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);" class="border">
                                    2.0磅
                                    <i class="iconfont showI">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    3.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    5.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                            </div>
                            <div class="inner-addBuy-btn">
                                <button type="button">
                                    <a href="javascript:void(0);">立即购买</a>
                                </button>
                                <button type="button" class="addGoods">加入购物车</button>
                            </div>
                        </div>

                        <!--加入购物车成功-->
                        <div class="inner-addBuySuccess">
                            <div>
                                <i class="iconfont">&#xe615;</i>
                                <span>成功加入购物车</span>
                            </div>
                            <button>查看购物车</button>
                        </div>
                    </li>
                    <!--2-->
                    <li>
                        <div class="inner-img">
                            <a href="#">
                                <img src="../images/LL-10.png" alt="">
                            </a>
                        </div>

                        <a href="#" class="inner-title">
                            <h6>芒果奶油蛋糕</h6>
                            <p>21cake配方芒果百香果慕斯夹心</p>
                        </a>

                        <div class="inner-label">
                            <a href="qingLv.html">情侣></a>
                            <a href="child.html">儿童></a>
                            <a href="party.html">聚会></a>
                            <a href="renqi.html">人气></a>
                        </div>

                        <div class="inner-money">
                            <div class="inner-money-left floatL">¥198.00/2.0磅</div>
                            <div class="inner-money-right floatR add_cart">加入购物车</div>
                        </div>
                        <!--加入购物车-->
                        <div class="inner-addBuy">
                            <div class="inner-addBuy-title">￥358.00/1.0磅</div>
                            <div class="inner-addBuy-chose">
                                <a href="javascript:void(0);">
                                    2.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);" class="border">
                                    3.0磅
                                    <i class="iconfont showI">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    5.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);"></a>
                            </div>
                            <div class="inner-addBuy-btn">
                                <button type="button">
                                    <a href="javascript:void(0);">立即购买</a>
                                </button>
                                <button type="button" class="addGoods">加入购物车</button>
                            </div>
                        </div>

                        <!--加入购物车成功-->
                        <div class="inner-addBuySuccess">
                            <div>
                                <i class="iconfont">&#xe615;</i>
                                <span>成功加入购物车</span>
                            </div>
                            <button>查看购物车</button>
                        </div>
                    </li>
                    <!--3-->
                    <li>
                        <div class="inner-img">
                            <a href="#">
                                <img src="../images/LL-11.png" alt="">
                            </a>
                        </div>

                        <a href="#" class="inner-title">
                            <h6>百香果酸乳酪慕斯（木糖醇）</h6>
                            <p>冰淇淋口感，不同层次的酸与冰凉</p>
                        </a>

                        <div class="inner-label">
                            <a href="qingLv.html">情侣></a>
                            <a href="low.html">低温></a>
                            <a href="xinPin.html">新品></a>
                            <a href="child.html">儿童></a>
                        </div>

                        <div class="inner-money">
                            <div class="inner-money-left floatL">¥298.00/2.0磅</div>
                            <div class="inner-money-right floatR add_cart">加入购物车</div>
                        </div>
                        <!--加入购物车-->
                        <div class="inner-addBuy">
                            <div class="inner-addBuy-title">￥298.00/1.0磅</div>
                            <div class="inner-addBuy-chose">
                                <a href="javascript:void(0);">
                                    1.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);" class="border">
                                    2.0磅
                                    <i class="iconfont showI">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);"></a>
                                <a href="javascript:void(0);"></a>
                            </div>
                            <div class="inner-addBuy-btn">
                                <button type="button">
                                    <a href="javascript:void(0);">立即购买</a>
                                </button>
                                <button type="button" class="addGoods">加入购物车</button>
                            </div>
                        </div>

                        <!--加入购物车成功-->
                        <div class="inner-addBuySuccess">
                            <div>
                                <i class="iconfont">&#xe615;</i>
                                <span>成功加入购物车</span>
                            </div>
                            <button>查看购物车</button>
                        </div>
                    </li>
                    <!--4-->
                    <li>
                        <div class="inner-img">
                            <a href="#">
                                <img src="../images/LL-12.png" alt="">
                            </a>
                        </div>

                        <a href="#" class="inner-title">
                            <h6>星语心愿</h6>
                            <p>椰子香气，蛋糕坯的颗粒感平衡奶油的...</p>
                        </a>

                        <div class="inner-label">
                            <a href="qingLv.html">情侣></a>
                            <a href="birthday.html">生日></a>
                            <a href="child.html">儿童></a>
                            <a href="marry.html">结婚></a>
                        </div>

                        <div class="inner-money">
                            <div class="inner-money-left floatL">¥298.00/2.0磅</div>
                            <div class="inner-money-right floatR add_cart">加入购物车</div>
                        </div>
                        <!--加入购物车-->
                        <div class="inner-addBuy">
                            <div class="inner-addBuy-title">￥298.00/1.0磅</div>
                            <div class="inner-addBuy-chose">
                                <a href="javascript:void(0);"></a>
                                <a href="javascript:void(0);" class="border">
                                    2.0磅
                                    <i class="iconfont showI">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    3.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    5.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                            </div>
                            <div class="inner-addBuy-btn">
                                <button type="button">
                                    <a href="javascript:void(0);">立即购买</a>
                                </button>
                                <button type="button" class="addGoods">加入购物车</button>
                            </div>
                        </div>

                        <!--加入购物车成功-->
                        <div class="inner-addBuySuccess">
                            <div>
                                <i class="iconfont">&#xe615;</i>
                                <span>成功加入购物车</span>
                            </div>
                            <button>查看购物车</button>
                        </div>
                    </li>
                </ul>
                <!--1-->
                <!--<div class="contents-common-display-inner">-->
                <!--<div class="inner-img">-->
                <!--<img src="images/LL-1.png" alt="">-->
                <!--</div>-->
                <!---->
                <!--</div>-->

            </div>
        </div>

        <!--聚会-->
        <div class="contents-common contents-party" id="four">
            <!--小标题-->
            <div class="contents-common-hd">
                <span>聚会</span>
                /
                <span>专区</span>
            </div>

            <!--banner-->
            <div class="contents-common-banner">
                <a href="party.html">
                    <img src="../images/L-9.jpg" alt="">
                </a>
            </div>

            <!--展示区1-->
            <div class="contents-common-display">
                <ul class="clearfix">
                    <!--1-->
                    <li>
                        <div class="inner-img">
                            <a href="#">
                                <img src="../images/LL-13.png" alt="">
                            </a>
                        </div>

                        <a href="#" class="inner-title">
                            <h6> 6口味切块</h6>
                            <p>多口味，精装小份</p>
                        </a>

                        <div class="inner-label">
                            <a href="#">聚会></a>
                            <a href="#">新品></a>
                            <a href="#">人气></a>
                            <a href="#"></a>
                        </div>

                        <div class="inner-money">
                            <div class="inner-money-left floatL">￥198.00/6个 (6种口味)</div>
                            <div class="inner-money-right floatR add_cart">加入购物车</div>
                        </div>
                        <!--加入购物车-->
                        <div class="inner-addBuy">
                            <div class="inner-addBuy-title">￥198.00/6个 (6种口味)</div>
                            <div class="inner-addBuy-chose">
                                <a href="javascript:void(0);">
                                    6个 (6种口味)
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);" class="border"></a>
                                <a href="javascript:void(0);"></a>
                                <a href="javascript:void(0);"></a>
                            </div>
                            <div class="inner-addBuy-btn">
                                <button type="button">
                                    <a href="javascript:void(0);">立即购买</a>
                                </button>
                                <button type="button" class="addGoods">加入购物车</button>
                            </div>
                        </div>

                        <!--加入购物车成功-->
                        <div class="inner-addBuySuccess">
                            <div>
                                <i class="iconfont">&#xe615;</i>
                                <span>成功加入购物车</span>
                            </div>
                            <button>查看购物车</button>
                        </div>
                    </li>
                    <!--2-->
                    <li>
                        <div class="inner-img">
                            <a href="#">
                                <img src="../images/LL-14.png" alt="">
                            </a>
                        </div>

                        <a href="#" class="inner-title">
                            <h6>黑白巧克力慕斯</h6>
                            <p>白巧克力慕斯的甜，与黑巧克力酱的苦</p>
                        </a>

                        <div class="inner-label">
                            <a href="#">聚会></a>
                            <a href="#">生日></a>
                            <a href="#">人气></a>
                            <a href="#"></a>
                        </div>

                        <div class="inner-money">
                            <div class="inner-money-left floatL">¥298.00/2.0磅</div>
                            <div class="inner-money-right floatR add_cart">加入购物车</div>
                        </div>
                        <!--加入购物车-->
                        <div class="inner-addBuy">
                            <div class="inner-addBuy-title">￥298.00/1.0磅</div>
                            <div class="inner-addBuy-chose">
                                <a href="javascript:void(0);">
                                    1.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);" class="border">
                                    2.0磅
                                    <i class="iconfont showI">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    3.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    4.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    5.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                            </div>
                            <div class="inner-addBuy-btn">
                                <button type="button">
                                    <a href="javascript:void(0);">立即购买</a>
                                </button>
                                <button type="button" class="addGoods">加入购物车</button>
                            </div>
                        </div>

                        <!--加入购物车成功-->
                        <div class="inner-addBuySuccess">
                            <div>
                                <i class="iconfont">&#xe615;</i>
                                <span>成功加入购物车</span>
                            </div>
                            <button>查看购物车</button>
                        </div>
                    </li>
                    <!--3-->
                    <li>
                        <div class="inner-img">
                            <a href="#">
                                <img src="../images/LL-15.png" alt="">
                            </a>
                        </div>

                        <a href="#" class="inner-title">
                            <h6>朗姆芝士</h6>
                            <p>清香柠檬与乳酪夹心，微苦、微醺</p>
                        </a>

                        <div class="inner-label">
                            <a href="#">情侣></a>
                            <a href="#">白色情人节></a>
                            <a href="#"></a>
                            <a href="#"></a>
                        </div>

                        <div class="inner-money">
                            <div class="inner-money-left floatL">¥298.00/2.0磅</div>
                            <div class="inner-money-right floatR add_cart">加入购物车</div>
                        </div>
                        <!--加入购物车-->
                        <div class="inner-addBuy">
                            <div class="inner-addBuy-title">￥298.00/1.0磅</div>
                            <div class="inner-addBuy-chose">
                                <a href="javascript:void(0);">
                                    1.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);" class="border">
                                    2.0磅
                                    <i class="iconfont showI">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    3.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    4.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    5.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                            </div>
                            <div class="inner-addBuy-btn">
                                <button type="button">
                                    <a href="javascript:void(0);">立即购买</a>
                                </button>
                                <button type="button" class="addGoods">加入购物车</button>
                            </div>
                        </div>

                        <!--加入购物车成功-->
                        <div class="inner-addBuySuccess">
                            <div>
                                <i class="iconfont">&#xe615;</i>
                                <span>成功加入购物车</span>
                            </div>
                            <button>查看购物车</button>
                        </div>
                    </li>
                    <!--4-->
                    <li>
                        <div class="inner-img">
                            <a href="#">
                                <img src="../images/LL-16.png" alt="">
                            </a>
                        </div>

                        <a href="#" class="inner-title">
                            <h6>冻慕斯与焗芝士</h6>
                            <p>马斯卡彭慕斯，叠加法国软芝士</p>
                        </a>

                        <div class="inner-label">
                            <a href="#">情侣></a>
                            <a href="#">低温></a>
                            <a href="#">生日></a>
                            <a href="#"></a>
                        </div>

                        <div class="inner-money">
                            <div class="inner-money-left floatL">¥298.00/2.0磅</div>
                            <div class="inner-money-right floatR add_cart">加入购物车</div>
                        </div>
                        <!--加入购物车-->
                        <div class="inner-addBuy">
                            <div class="inner-addBuy-title">￥298.00/1.0磅</div>
                            <div class="inner-addBuy-chose">
                                <a href="javascript:void(0);">
                                    1.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);" class="border">
                                    2.0磅
                                    <i class="iconfont showI">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    3.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                                <a href="javascript:void(0);">
                                    5.0磅
                                    <i class="iconfont">&#xe615;</i>
                                </a>
                            </div>
                            <div class="inner-addBuy-btn">
                                <button type="button">
                                    <a href="javascript:void(0);">立即购买</a>
                                </button>
                                <button type="button" class="addGoods">加入购物车</button>
                            </div>
                        </div>

                        <!--加入购物车成功-->
                        <div class="inner-addBuySuccess">
                            <div>
                                <i class="iconfont">&#xe615;</i>
                                <span>成功加入购物车</span>
                            </div>
                            <button>查看购物车</button>
                        </div>
                    </li>
                </ul>
                <!--1-->
                <!--<div class="contents-common-display-inner">-->
                <!--<div class="inner-img">-->
                <!--<img src="images/LL-1.png" alt="">-->
                <!--</div>-->
                <!---->
                <!--</div>-->

            </div>
        </div>

        <!--活动专区-->
        <div class="contents-common contents-activity" id="five">
            <!--小标题-->
            <div class="contents-common-hd">
                <span>活动门</span>
                /
                <span>是被吸引了吧</span>
            </div>

            <!--banner-->
            <div class="contents-common-banner clearfix">
                <div class="floatL activity-left">
                    <a href="guest.html">
                        <img src="../images/1-banner111.jpg" alt="">
                    </a>
                    <div class="activity-news">
                        <h3>新客专享</h3>
                        <a href="guest.html">查看详情 > ></a>
                    </div>

                </div>
                <div class="floatR activity-right">
                    <a href="courserPages.html">
                        <img src="../images/2-banner111.jpg" alt="">
                    </a>
                    <div class="activity-news">
                        <h3>课程活动</h3>
                        <a href="courserPages.html">查看详情 > ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/内容区-->

<!--页脚-->
<footer id="footer">
    <div class="footer">
        <img class="footer-logo" src="../images/footer-logo.png" height="36" width="96" alt="">
        <div class="footer-nav">
            <a href="contact.html">联系我们</a>
            <span>|</span>
            <a href="order.html">订购帮助</a>
            <span>|</span>
            <a href="cooperate.html">企业合作</a>
            <span>|</span>
            <a href="product.html">生产经营资质</a>
            <span>|</span>
            <a href="bulletin.html">公告专区</a>
        </div>
        <div class="footer-icon">
            <a href="http://weibo.com/21cake" target="_blank">
                <img src="../images/footericon-01.png">
            </a>
            <a class="footer-weixin" onmouseover="move1()" onmouseout="out1()">
                <div class="footer-erweima footer-weixin-erweima">
                    <img src="../images/erweima.png">
                </div>
                <img src="../images/footericon-02.png">
            </a>
            <a class="footer-app" onmouseover="move2()" onmouseout="out2()">
                <div class="footer-erweima footer-app-erweima">
                    <img src="../images/footer-erweima.png">
                </div>
                APP
            </a>
        </div>

        <div class="footer-text">
            <span>订购专线：400 650 2121（服务时间 08:00–22:00）</span>
            <span>客服电话：021-23099721（全国） | kefu@21cake.com（邮箱）</span>
            <span>杭州/广州：提前5小时预订；北京：提前6小时预订；上海：提前5.5-6小时预订；天津/苏州/无锡/深圳：提前8小时预订（部分偏远地区除外，当日22点以后订单，于次日8点开始审核） </span>
            <span>当日蛋糕配送截止下单时间：北京：16:50；上海：16:30；杭州/广州：13:50；天津：10:30；苏州/无锡/深圳：11:00</span>
            <span>网站注册公司名称: 北京廿一客食品有限公司 地址: 北京市北京经济技术开发区兴海二街5号院3号楼 </span><br>
        </div>
        <div class="footer-copyright">
        <span>
            Copyright© 21Cake蛋糕官网商城 2007-2018, 版权所有
            <a style="color: #9a9a9a" target="_blank" href="http://www.miitbeian.gov.cn/">
                京ICP备14006254号-1
            </a>
        </span>
        </div>
    </div>
</footer>
<!--/页脚-->

<script src="../lib/jquery-1.12.4.js"></script>
<script src="../js/success-home-page.js"></script>
<script src="../js/footer.js"></script>
</body>
</html>