<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>21cake</title>
    <link rel="shortcut icon" type="image/x-icon"  th:href="@{/images/favicon.ico}" href="../images/favicon.ico"/>
    <link rel="stylesheet"  th:href="@{/css/common.css}" href="../css/common.css"/>
    <link rel="stylesheet" th:href="@{/css/thirdPage.css}" href="../css/thirdPage.css"/>
</head>
<body>
<header class="center">
    <img th:src="@{/images/header.f16266a.jpg}" src="../images/header.f16266a.jpg" alt=""/>
    <div class="word-state">
        <p>点点心意，鼓励尝试</p>
        <span>与你的不知几个四季里，被反复配送的经典口味。</span>
    </div>
</header>
<section>
    <div class="center title">
        <span class="xian"></span>
        <span class="jiajia">加购价</span>
        <span class="xian"></span>
        <br/>
    </div>
    <div>
        <div class="center cakezone">
            蛋糕专区
        </div>
        <ul class="center goods-list">
            <li>
                <img th:src="@{/images/goods-cake-1.jpg}" src="../images/goods-cake-1.jpg" alt=""/>
                <div class="goodsName">
                    <span>朗姆芝士</span>
                    <span>Rum Cheese Cake</span>
                </div>
                <div class="goodsPrice">
                    <span>￥</span>
                    <big>198.00</big>
                    <span>元</span>
                </div>
                <div class="check-box-Dad">
                    <span>
                        <input type="checkbox" value="1"/> 1磅
                    </span>
                    <span>
                        <input type="checkbox" value="2"/> 2磅
                    </span>
                    <span>
                        <input type="checkbox" value="3"/> 3磅
                    </span>
                </div>
            </li>
            <li>
                <img th:src="@{/images/goods-cake-2.jpg}" src="../images/goods-cake-2.jpg" alt=""/>
                <div class="goodsName">
                    <span>松仁淡奶</span>
                    <span>Pine Stone Cowboy</span>
                </div>
                <div class="goodsPrice">
                    <span>￥</span>
                    <big>298.00</big>
                    <span>元</span>
                </div>
                <div class="check-box-Dad">
                    <span>
                        <input type="checkbox" value="1"/> 1磅
                    </span>
                    <span>
                        <input type="checkbox" value="2"/> 2磅
                    </span>
                    <span>
                        <input type="checkbox" value="3"/> 3磅
                    </span>
                </div>
            </li>
            <li>
                <img th:src="@{/images/goods-cake-3.jpg}" src="../images/goods-cake-3.jpg" alt=""/>
                <div class="goodsName">
                    <span>榴莲飘飘</span>
                    <span>A Picture of Durian Grey</span>
                </div>
                <div class="goodsPrice">
                    <span>￥</span>
                    <big>198.00</big>
                    <span>元</span>
                </div>
                <div class="check-box-Dad">
                    <span>
                        <input type="checkbox" value="1"/> 1磅
                    </span>
                    <span>
                        <input type="checkbox" value="2"/> 2磅
                    </span>
                    <span>
                        <input type="checkbox" value="3"/> 3磅
                    </span>
                </div>
            </li>
            <li>
                <img th:src="@{/images/goods-cake-4.jpg}" src="../images/goods-cake-4.jpg" alt=""/>
                <div class="goodsName">
                    <span>百利甜情人</span>
                    <span>Bailey's Love Triangle</span>
                </div>
                <div class="goodsPrice">
                    <span>￥</span>
                    <big>198.00</big>
                    <span>元</span>
                </div>
                <div class="check-box-Dad">
                    <span>
                        <input type="checkbox" value="1"/> 1磅
                    </span>
                    <span>
                        <input type="checkbox" value="2"/> 2磅
                    </span>
                    <span>
                        <input type="checkbox" value="3"/> 3磅
                    </span>
                </div>
            </li>
            <li>
                <img th:src="@{/images/goods-cake-5.jpg}" src="../images/goods-cake-5.jpg" alt=""/>
                <div class="goodsName">
                    <span>黑白巧克力慕斯</span>
                    <span>Black and White Chocolate Mousse</span>
                </div>
                <div class="goodsPrice">
                    <span>￥</span>
                    <big>298.00</big>
                    <span>元</span>
                </div>
                <div class="check-box-Dad">
                    <span>
                        <input type="checkbox" value="1"/> 1磅
                    </span>
                    <span>
                        <input type="checkbox" value="2"/> 2磅
                    </span>
                    <span>
                        <input type="checkbox" value="3"/> 3磅
                    </span>
                </div>
            </li>
            <li>
                <img th:src="@{/images/goods-cake-6.jpg}" src="../images/goods-cake-6.jpg" alt=""/>
                <div class="goodsName">
                    <span>冻慕斯与焗芝士</span>
                    <span>Cool&Hot</span>
                </div>
                <div class="goodsPrice">
                    <span>￥</span>
                    <big>198.00</big>
                    <span>元</span>
                </div>
                <div class="check-box-Dad">
                    <span>
                        <input type="checkbox" value="1"/> 1磅
                    </span>
                    <span>
                        <input type="checkbox" value="2"/> 2磅
                    </span>
                    <span>
                        <input type="checkbox" value="3"/> 3磅
                    </span>
                </div>
            </li>
            <li>
                <img th:src="@{/images/goods-cake-7.jpg}" src="../images/goods-cake-7.jpg" alt=""/>
                <div class="goodsName">
                    <span>（新）栗蓉暗香</span>
                    <span>Chestnut Cream</span>
                </div>
                <div class="goodsPrice">
                    <span>￥</span>
                    <big>198.00</big>
                    <span>元</span>
                </div>
                <div class="check-box-Dad">
                    <span>
                        <input type="checkbox" value="1"/> 1磅
                    </span>
                    <span>
                        <input type="checkbox" value="2"/> 2磅
                    </span>
                    <span>
                        <input type="checkbox" value="3"/> 3磅
                    </span>
                </div>
            </li>
            <li>
                <img th:src="@{/images/goods-cake-8.jpg}" src="../images/goods-cake-8.jpg" alt=""/>
                <div class="goodsName">
                    <span>芒果奶油蛋糕</span>
                    <span>Mango Cream Cake</span>
                </div>
                <div class="goodsPrice">
                    <span>￥</span>
                    <big>198.00</big>
                    <span>元</span>
                </div>
                <div class="check-box-Dad">
                    <span>
                        <input type="checkbox" value="1"/> 1磅
                    </span>
                    <span>
                        <input type="checkbox" value="2"/> 2磅
                    </span>
                    <span>
                        <input type="checkbox" value="3"/> 3磅
                    </span>
                </div>
            </li>
            <li>
                <img th:src="@{/images/goods-cake-9.jpg}" src="../images/goods-cake-9.jpg" alt=""/>
                <div class="goodsName">
                    <span>浅草</span>
                    <span>Teatime</span>
                </div>
                <div class="goodsPrice">
                    <span>￥</span>
                    <big>458.00</big>
                    <span>元</span>
                </div>
                <div class="check-box-Dad">
                    <span>
                        <input type="checkbox" value="1"/> 1磅
                    </span>
                    <span>
                        <input type="checkbox" value="2"/> 2磅
                    </span>
                    <span>
                        <input type="checkbox" value="3"/> 3磅
                    </span>
                </div>
            </li>
            <li>
                <img th:src="@{/images/goods-cake-10.jpg}" src="../images/goods-cake-10.jpg" alt=""/>
                <div class="goodsName">
                    <span>黑白巧克力慕斯（千阳号）</span>
                    <span>Black and White Chocolate Mousse</span>
                </div>
                <div class="goodsPrice">
                    <span>￥</span>
                    <big>238.00</big>
                    <span>元</span>
                </div>
                <div class="check-box-Dad">
                    <span>
                        <input type="checkbox" value="1"/> 1磅
                    </span>
                    <span>
                        <input type="checkbox" value="2"/> 2磅
                    </span>
                    <span>
                        <input type="checkbox" value="3"/> 3磅
                    </span>
                </div>
            </li>
        </ul>
    </div>


    <div style="clear: both"></div>

    <!--================================茶歇专区======================================-->
    <div class="center cakezone">
        茶歇专区
    </div>
    <ul class="center goods-list">
        <li>
            <img th:src="@{/images/good-tea-1.jpg}" src="../images/goods-tea-1.jpg" alt=""/>
            <div class="goodsName">
                <span>原味牛乳冰淇淋</span>
                <span>Milk Gelato</span>
            </div>
            <div class="goodsPrice">
                <span>￥</span>
                <big>45.00</big>
                <span>元</span>
            </div>
            <div class="check-box-Dad">
                    <span>
                        <input type="checkbox" value="1"/> 1份
                    </span>
            </div>
        </li>
        <li>
            <img th:src="@{/images/good-tea-2.jpg}" src="../images/goods-tea-2.jpg" alt=""/>
            <div class="goodsName">
                <span>耶加雪菲挂耳咖啡</span>
                <span>Yirgacheffe Coffee</span>
            </div>
            <div class="goodsPrice">
                <span>￥</span>
                <big>10.00</big>
                <span>元</span>
            </div>
            <div class="check-box-Dad">
                    <span>
                        <input type="checkbox" value="1"/> 1份
                    </span>
            </div>
        </li>
        <li>
            <img th:src="@{/images/good-tea-3.jpg}" src="../images/goods-tea-3.jpg" alt=""/>
            <div class="goodsName">
                <span>小切块-新卡</span>
                <span>Cappuccino In Mind</span>
            </div>
            <div class="goodsPrice">
                <span>￥</span>
                <big>36.00</big>
                <span>元</span>
            </div>
            <div class="check-box-Dad">
                    <span>
                        <input type="checkbox" value="1"/> 1份
                    </span>
            </div>
        </li>
        <li>
            <img th:src="@{/images/good-tea-4.jpg}" src="../images/goods-tea-4.jpg" alt=""/>
            <div class="goodsName">
                <span>小切块-芒果慕斯</span>
                <span>Mango Jerry</span>
            </div>
            <div class="goodsPrice">
                <span>￥</span>
                <big>36.00</big>
                <span>元</span>
            </div>
            <div class="check-box-Dad">
                    <span>
                        <input type="checkbox" value="1"/> 1份
                    </span>
            </div>
        </li>
        <li>
            <img th:src="@{/images/good-tea-5.jpg}" src="../images/goods-tea-5.jpg" alt=""/>
            <div class="goodsName">
                <span>巴西挂耳咖啡</span>
                <span>Brazil Coffee</span>
            </div>
            <div class="goodsPrice">
                <span>￥</span>
                <big>10.00</big>
                <span>元</span>
            </div>
            <div class="check-box-Dad">
                    <span>
                        <input type="checkbox" value="1"/> 1份
                    </span>
            </div>
        </li>
        <li>
            <img th:src="@{/images/good-tea-6.jpg}" src="../images/goods-tea-6.jpg" alt=""/>
            <div class="goodsName">
                <span>小切块-栗蓉暗香</span>
                <span>Chestnut Cream</span>
            </div>
            <div class="goodsPrice">
                <span>￥</span>
                <big>36.00</big>
                <span>元</span>
            </div>
            <div class="check-box-Dad">
                    <span>
                        <input type="checkbox" value="1"/> 1份
                    </span>
            </div>
        </li>
    </ul>
    <div style="clear: both"></div>
    <!--================================/茶歇专区======================================-->
    <div class="center active">
        <div class="rule-state">
            <h3>活动规则</h3>
            <p>1、活动时间：10月18日-10月31日。</p>
            <p>2、单笔订单金额满200元，即可加价换购指定优惠券，每笔订单仅限换购1张优惠券。未满200元，则无法选择加价购商品。</p>
            <p class="huanhang">3、点击去支付后，满足加价购条件，则在活动页面下方进行优惠券选择，所选优惠券将在订单审核通过后，发放至其账户，用户可以选择任意口味的面包或小切块进行使用。</p>
            <p>4、参与此活动的用户，仍能参与转盘抽奖，细则详见抽奖页。</p>
            <p>5、商品配送范围仅限21cake自配送区域（北京/上海/杭州/苏州/无锡/广州/深圳/天津），详询客服。</p>
            <p>6、加价购商品及优惠券一经售出，不支持退换货。</p>
            <p>7、优惠券使用时间为：10月18日-11月17日。</p>
            <p>8、仅限该活动页的商品且只能通过该活动页下单才能享受加价购，21cake保留活动的最终解释权。</p>
        </div>
    </div>
    <div class="center m-bottom">
        <img th:src="@{/images/footer.f0cb1b1.jpg}" src="../images/footer.f0cb1b1.jpg" alt=""/>
    </div>

    <div style="clear: both"></div>


    <div class="bottom">
        <div class="bottom-left">
            <h1>订单总金额: ￥ <span id="price">0.00</span> 元</h1>
            <span id="tiaojian">您的订单金额已满足换购条件</span>
        </div>
        <a href="">
            <img class="bottom-right" th:src="@{/images/pay.6b90b4e.jpg}" alt=""/>
        </a>
    </div>


</section>


<script th:src="@{/lib/jquery-1.12.4.js}" src="../lib/jquery-1.12.4.js"></script>
<script th:src="@{/js/thirdPage.js}" src="../js/thirdPage.js"></script>

</body>
</html>