<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>七夜试吃_21Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/tryEatimg.css">
    <link rel="stylesheet" href="../css/qiYe_model.css">
</head>
<body>
<!--头部导航-->
<header id="header">
    <div class="header-fixed">
        <nav class="center clearfix">
            <!--logo-->
            <a href="../home-page.html" class="nav-logo floatL">
                <img src="../images/logo.png" alt="廿一客">
            </a>
            <!--/logo-->

            <!--菜单-->
            <div class="nav-centerContent floatL">
                <ul class="clearfix">
                    <li>
                        <a href="../home-page.html">首页</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="caketext-1.html">蛋糕</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="caketext-2.html">冰淇淋</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="caketext-3.html">咖啡下午茶</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="caketext-4.html">面包</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="send.html">咖啡全国送</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="enterprise-zone.html">企业专区</a>
                        <span></span>
                    </li>
                </ul>
            </div>
            <!--/菜单-->

            <!--功能-->
            <div class="nav-function floatR">
                <ul class="clearfix">
                    <li class="show-children">
                        <span>APP下载</span>
                        <div class="youHuiErWeiMa">
                            <img src="../images/erweima2.png" alt="">
                            <p>下载享更多优惠</p>
                        </div>
                    </li>
                    <li class="show-children">
                        <span class="address-chose-default">成都</span>
                        <i></i>
                        <div class="address-chose">
                            <a href="javascript:void(0);">成都</a>
                            <a href="javascript:void(0);">重庆</a>
                            <a href="javascript:void(0);">西安</a>
                            <a href="javascript:void(0);">北京</a>
                        </div>
                    </li>
                    <li class="show-children">
                        <span>消息</span>
                        <div class="news">
                            <a href="login.html">通知</a>
                            <a href="login.html">物流</a>
                        </div>
                        <i class="redDian"></i><!--==========注意：登陆后会根据情况显示的===========-->
                    </li>
                    <li class="ifDengLu-show-children"><!--==========注意：登陆后加show-children属性========-->
                        <a href="login.html">登录</a>/<a href="register.html">注册</a>
                        <p class="dengLu-success">
                            <img src="../images/user.png" alt="">
                        </p>
                        <div class="news user">
                            <a href="#">我的订单</a>
                            <a href="#">我的优惠券</a>
                            <a href="#">我的纪念日</a>
                            <a href="#">退出登录</a>
                        </div>
                    </li>
                    <li class="buy-cart">
                        <a href="shopCar.html">
                            <i></i>
                        </a>
                        <span class="num">3</span>
                    </li>
                </ul>
            </div>
            <!--/功能-->
        </nav>
    </div>
</header>
<!--头部导航结束-->

<!--中间内容区-->
<section>
    <div class="center1">
        <div>
            <img src="../images/tryeating.jpg" alt="" width="100%">
        </div>
        <div class="bgColor">

            <table>
                <tr>
                    <td>
                       <div>
                           <p>如果有意进行企业采购合作,想要了解更多的信息,请您填写以下基本信息,我们会及时与您联系.
                           </p>

                           <form action="#">
                               <span> <i>*</i>您的姓名 :</span>
                               <input type="text">

                               <br>
                               <span> <i>*</i>您的手机 :</span>
                               <input type="text">

                               <br>
                               <span> <i>*</i>公司名称 :</span>
                               <input type="text">

                               <br>
                               <span> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<i>*</i>城市 :</span>
                               <select id="">
                                   <option value="0">成都市</option>
                                   <option value="1">上海市</option>
                                   <option value="2">北京市</option>
                                   <option value="3">广州市</option>
                                   <option value="4">天津市</option>
                                   <option value="5">重庆市</option>
                               </select>
                               <br>
                               <span> <i>*</i>公司证明 :</span>
                               <input type="text" id="texts">
                               <a class="filess">
                                   浏览
                                   <input type="file" id="input">
                               </a>
                               <!--========服务器返回数据===========-->
                               <span class="fanHui">

                               </span>
                               <button type="button" class="submit" onclick="textAndPwd_prompt_model()">确定</button>
                           </form>
                           </div>
                    </td>
                    <td>
                        <div>
                        <h5>蛋糕卡购买</h5>
                        <p>
                            定额（198元、298元、458元）实物蛋糕卡，可用于员工福利、送客户、送领导等。批量购买，享受更多优惠！
                        </p>

                        <h5>储值卡购买</h5>
                        <p>
                            实体储值卡，可充值1000以内任意金额。可用于员工福利、送客户、送领导等。批量购买，享受更多优惠！ 预付卡章程>>
                        </p>

                        <h5>其他服务</h5>
                        <p>
                            我们还提供很多个性化的服务，企业员工团购，预付系统服务，月结系统服务，烘焙教室服务等。
                            如有具体需求，请电话联系或留言咨询。
                        </p>
                       </div>
                    </td>
                </tr>
            </table>
          </div>
        <div>
            <img src="../images/buliding.png" alt="" width="100%">
        </div>
    </div>
</section>
<!--中间内容区结束-->

<!--页尾-->
<div class="footer">
    <img class="footer-logo" src="../images/footer-logo.png" height="36" width="96" alt="">
    <div class="footer-nav">
        <a href="contact.html">联系我们</a>
        <span>|</span>
        <a href="order.html">订购帮助</a>
        <span>|</span>
        <a href="cooperate.html">企业合作</a>
        <span>|</span>
        <a href="product.html">生产经营资质</a>
        <span>|</span>
        <a href="bulletin.html">公告专区</a>
    </div>
    <div class="footer-icon">
        <a href="http://weibo.com/21cake" target="_blank">
            <img src="../images/footericon-01.png">
        </a>
        <a class="footer-weixin" onmouseover="move1()" onmouseout="out1()">
            <div class="footer-erweima footer-weixin-erweima">
                <img src="../images/erweima.png">
            </div>
            <img src="../images/footericon-02.png">
        </a>
        <a class="footer-app" onmouseover="move2()" onmouseout="out2()">
            <div class="footer-erweima footer-app-erweima">
                <img src="../images/footer-erweima.png">
            </div>
            APP
        </a>
    </div>

    <div class="footer-text">
        <span>订购专线：400 650 2121（服务时间 08:00–22:00）</span>
        <span>客服电话：021-23099721（全国） | kefu@21cake.com（邮箱）</span>
        <span>杭州/广州：提前5小时预订；北京：提前6小时预订；上海：提前5.5-6小时预订；天津/苏州/无锡/深圳：提前8小时预订（部分偏远地区除外，当日22点以后订单，于次日8点开始审核） </span>
        <span>当日蛋糕配送截止下单时间：北京：16:50；上海：16:30；杭州/广州：13:50；天津：10:30；苏州/无锡/深圳：11:00</span>
        <span>网站注册公司名称: 北京廿一客食品有限公司 地址: 北京市北京经济技术开发区兴海二街5号院3号楼 </span><br>
    </div>
    <div class="footer-copyright">
        <span>
            Copyright© 21Cake蛋糕官网商城 2007-2018, 版权所有
            <a style="color: #9a9a9a" target="_blank" href="http://www.miitbeian.gov.cn/">
                京ICP备14006254号-1
            </a>
        </span>
    </div>
</div>
<script src="../lib/jquery-1.12.4.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/footer.js"></script>
<script src="../js/qiYe_model.js"></script>
<script src="../js/tryeating.js"></script>
</body>
</html>