<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>21Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>
<!--导航栏部分-->
<header id="header">
    <div class="header-fixed">
        <nav class="center clearfix">
            <!--logo-->
            <a href="../home-page.html" class="nav-logo floatL">
                <img src="../images/logo.png" alt="廿一客">
            </a>
            <!--/logo-->

            <!--菜单-->
            <div class="nav-centerContent floatL">
                <ul class="clearfix">
                    <li>
                        <a href="../home-page.html">首页</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/caketext-1.html">蛋糕</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/caketext-2.html">冰淇淋</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/caketext-3.html">咖啡下午茶</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/caketext-4.html">面包</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/send.html">咖啡全国送</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/enterprise-zone.html">企业专区</a>
                        <span></span>
                    </li>
                </ul>
            </div>
            <!--/菜单-->

            <!--功能-->
            <div class="nav-function floatR">
                <ul class="clearfix">
                    <li class="show-children">
                        <span>APP下载</span>
                        <div class="youHuiErWeiMa">
                            <img src="../images/erweima2.png" alt="">
                            <p>下载享更多优惠</p>
                        </div>
                    </li>
                    <li class="show-children">
                        <span class="address-chose-default">成都</span>
                        <i></i>
                        <div class="address-chose">
                            <a href="javascript:void(0);">成都</a>
                            <a href="javascript:void(0);">重庆</a>
                            <a href="javascript:void(0);">西安</a>
                            <a href="javascript:void(0);">北京</a>
                        </div>
                    </li>
                    <li class="show-children">
                        <span>消息</span>
                        <div class="news">
                            <a href="../pages/loginSuccess-news.html">通知</a>
                            <a href="../pages/loginSuccess-news-wuliu.html">物流</a>
                        </div>
                        <i class="redDian"></i><!--==========注意：登陆后会根据情况显示的===========-->
                    </li>
                    <li class="ifDengLu-show-children"><!--==========注意：登陆后加show-children属性========-->
                        <a href="../pages/login.html">登录</a>/<a href="../pages/register.html">注册</a>
                        <p class="dengLu-success">
                            <img src="../images/user.png" alt="">
                        </p>
                        <div class="news user">
                            <a href="#">我的订单</a>
                            <a href="#">我的优惠券</a>
                            <a href="#">我的纪念日</a>
                            <a href="#">退出登录</a>
                        </div>
                    </li>
                    <li class="buy-cart">
                        <a href="../pages/shopcar.html">
                            <i></i>
                        </a>
                        <span class="num">3</span>
                    </li>
                </ul>
            </div>
            <!--/功能-->
        </nav>
    </div>
</header>
<!--/导航栏部分-->

<div class="content-box article clearfix">
    <div class="bread-crumbs">
            <span>
                <a href="#" alt="" title="" style="font-size: 12px">购买指南</a>
            </span>
        <span style="font-size: 12px">&nbsp;&gt;&nbsp;</span>
        <span class="now" style="font-size: 12px">会员注册协议</span>
    </div>
    <div class="article-main">
        <div class="article-left">
            <dl class="content-list">
                <dt class="content-title">公司公告</dt>
                <dd class="node-index content-item">
                    <a href="21cakeBulletin.html" title="21cake公告">
                        21cake公告 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">关于21Cake</dt>
                <dd class="node-index content-item">
                    <a href="contact.html" title="联系我们">
                        联系我们 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="cooperate.html" title="21cake企业合作">
                        21cake企业合作 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="history.html" title="21cake品牌历史">
                        21cake品牌历史 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="productIdea.html" title="产品理念">
                        产品理念 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">购物指南</dt>
                <dd class="node-index content-item">
                    <a href="privacy.html" title="隐私保护政策">
                        隐私保护政策 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="vip.html" title="会员注册协议">
                        会员注册协议 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="instruction.html" title="蛋糕预订说明">
                        蛋糕预订说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="faq.html" title="会员体系FAQ">
                        会员体系FAQ </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="card.html" title="代金卡使用说明">
                        代金卡使用说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="coupon.html" title="优惠券使用说明">
                        优惠券使用说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="information.html" title="发票信息说明">
                        发票信息说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="alter.html" title="修改订单信息说明">
                        修改订单信息说明 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">配送方式</dt>
                <dd class="node-index content-item">
                    <a href="order.html" title="配送范围说明">
                        配送范围说明 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">生产经营资质</dt>
                <dd class="node-index content-item">
                    <a href="product.html.html" title="生产经营资质">
                        生产经营资质 </a>
                </dd>
            </dl>
        </div>
        <div class="article-right">
            <div class="article-title">
                <h2 style="color: #684029;">会员注册协议</h2>
            </div>
            <p class="article-time">发布日期：2017-02-08 00:00:00</p>

            <div class="article-body" style="color: #684029;">
                <font size="2">
                    <font face="Microsoft Yahei">
                        《21cake会员注册协议》（以下简称“本协议”）是您与21cake网站（网址：www.21cake.com）所有者（以下简称为“21cake”）
                        之间就21cake网站服务等相关事宜所订立的契约，请您仔细阅读本协议，本协议即构成对双方有约束力的法律文件。
                        <br>
                        <br>
                        如果您访问21cake网站或在21cake网站购物，或以任何行为实际使用、享受21cake网站的服务，即表示您接受了本协议，
                        并同意受本协议各项条款的约束。如果您不同意本协议中的任何内容，您可以选择不使用本网站服务。
                        <br><br>本协议包括协议正文及所有21cake网站已经发布的或将来可能发布或更新的各类规则（在该等规则中21cake网站或被简称为“21cake”），所有规则为本协议不可分割的组成部分，与本协议正文具有同等法律效力。您应当仔细阅读本协议的正文内容及其所属各类规则。<br><br>21cake网站有权根据需要不时地制订、修改本协议及/或各类规则，并以网站公示的方式进行公告，不再单独通知您。修订后的协议或将来可能发布或更新的各类规则一经在网站公布后，立即自动生效。如您不同意相关修订，应当立即停止使用21cake网站服务。您继续使用21cake网站服务，即表示您接受经修订的协议或规则。<br><br>一、
                        21cake网站账户<br><br>1、
                        用户在注册成为21cake网站用户时所提供的信息应真实、完整、有效，并保证21cake网站可以通过该等信息与用户本人进行联系。同时，用户也有义务在相关资料发生变更时及时更新注册信息。<br>2、
                        在成功注册后，21cake网站会为每位用户开通一个账户，作为其使用21cake网站服务的唯一身份标识，用户应妥善保管该账户的用户名和密码，并对在其账户项下发生的所有行为负责。用户不得以任何形式转让或授权他人使用自己的21cake网站账户。<br>3、
                        每位用户只允许拥有一个21cake网站账户。如有证据证明或21cake网站有理由相信用户存在注册多个21cake网站账户的情形，21cake网站有权采取取消订单、冻结或关闭账户、拒绝提供服务等措施，给21cake网站及相关方造成损失的，用户还应承担赔偿责任。<br>4、
                        21cake网站用户必须是具有完全民事行为能力的自然人，或者是具有合法经营资格的实体组织。无民事行为能力、限制民事行为能力人以及无经营或特定经营资格的组织不得注册为21cake网站用户或超过其民事权利或行为能力范围在21cake网站进行交易，如否，21cake网站有权采取取消订单、冻结或关闭账户、拒绝提供服务等措施，给21cake网站及相关方造成损失的，用户还应承担赔偿责任。<br><br>二、
                        交易平台服务<br><br>1、21cake将尽最大努力保证用户所购商品与网站上公布的价格一致，但价目表和声明并不构成要约。21cake有权在发现了其网站上显现的产品及订单的明显错误或缺货的情况下，单方面撤回任何承诺。同时，21cake保留对产品订购的数量的限制权。<br><br>2、产品的价格和可获性都在21cake网上指明。这类信息将随时更改且不发任何通知。商品的价格都包含了法律规定的税金。如果发生了意外情况，在确认了用户的订单后，由于供应商提价，税额变化引起的价格变化，或是由于网站的错误等造成商品价格变化，用户有权取消订单，并希望用户能及时通过电子邮件或电话通知21cake客户服务部。用户所订购的商品，如果发生缺货，用户有权取消定单。<br><br>3、
                        用户同意21cake网站在发现21cake网站上显示的商品信息错误或缺货的情况下，有权撤回或修改该等信息，并对商品订购数量有限制权。用户提交订单即表示用户对其订单中所确认的订购商品、收货地址等信息的准确性负责。<br><br>4、配送费用将根据21cake网站上公布的配送政策和用户选择的送货方式另行计收。21cake网站有权更改上述有关价格和配送费用的信息，而不做另行通知。<br><br>三、
                        用户的权利和义务<br><br>1、
                        用户有权根据本协议的约定，以及21cake网站上发布的相关规则在21cake网站上查询商品信息、订购具体商品、参加21cake网站的有关活动，以及使用21cake网站提供的其他服务。<br><br>2、
                        用户应当保证在21cake网站购买商品过程中遵守诚实信用原则，不扰乱网上交易的正常秩序。<br><br>3、 用户享有言论自由权利，并拥有适度修改、删除自己发表的文章的权利。<br><br>4、
                        用户不得在21cake网站发表包含以下内容的言论：<br><br>① 反对宪法所确定的基本原则，煽动、抗拒、破坏宪法和法律、行政法规实施的；<br>②
                        煽动颠覆国家政权，推翻社会主义制度，煽动、分裂国家，破坏国家统一的；<br>③ 损害国家荣誉和利益的；<br>④ 煽动民族仇恨、民族歧视，破坏民族团结的；<br>⑤
                        任何包含对种族、性别、宗教、地域内容等歧视的；<br>⑥ 捏造或者歪曲事实，散布谣言，扰乱社会秩序的；<br>⑦ 宣扬封建迷信、邪教、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；<br>⑧
                        公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；<br>⑨ 损害国家机关信誉的；<br>⑩ 其他违反宪法和法律行政法规的。<br><br>5、
                        未经21cake网站同意，禁止用户在21cake网站上发布任何形式的广告。<br><br>四、 21cake网站的权利和义务<br><br>1、
                        21cake网站有义务在现有技术上维护整个网站的正常运行，并努力提升和改进技术，使用户网上交易活动得以顺利进行。<br>2、
                        对于用户在21cake网站上做出下列行为的，21cake网站有权做出相应处理，而无须事先通知用户或取得用户同意：<br><br>①
                        21cake网站有权对用户的注册信息及购买行为进行查阅，如发现注册信息或购买行为中存在任何问题的，有权向用户发出询问及要求改正或者做出冻结或关闭账户、取消订单等处理；<br>②
                        用户违反本协议规定或有违反法律法规和地方规章的行为的，21cake网站有权删除其信息，禁止用户发言，限制用户订购，注销用户账户并按照相关法律规定向相关主管部门进行披露；<br>③
                        对于用户在21cake网站进行的下列行为，21cake网站有权对用户采取删除其信息，禁止用户发言，限制用户订购，注销用户账户等限制性措施：包括（i）发布或以电子邮件或以其他方式传送存在恶意、虚假和侵犯他人人身财产权利内容的信息；（ii）进行与网上购物无关或不是以购物为目的的活动，试图扰乱正常购物秩序；将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序之资料，加以上载、发布、发送电子邮件或以其他方式传送；（iv）干扰或破坏21cake网站和服务或与21cake网站和服务相连的服务器和网络；或（v）发布其他违反公共利益或可能严重损害21cake网站和其他用户合法利益的信息；<br><br>3、
                        用户在此授予21cake网站无偿、永久的独家使用权，并有权对该使用权进行再授权，以使21cake网站有权在全球范围内全部或部分地使用、复制、修改、改写、发布、翻译和展示用户登记或发布在21cake网站上的各类信息，或制作其派生作品，和/或以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入21cake网站其他作品内。<br><br>五、
                        交易平台服务规则<br><br>1、 价格变动规则
                        ：21cake将尽最大努力保证用户所购商品或服务价格与网站公布的价格一致，尽管做出最大的努力，21cake网站上的商品或服务中的一小部分仍可能会有定价误差。如果发现错误定价，21cake将采取下列措施：<br><br>①
                        如果某一商品或服务的错误定价高于正确定价，商家将按照较低的定价向用户销售该等商品或服务；<br>②
                        如果某一商品或服务的错误定价低于正确定价，商家会根据情况，在交付商品前联系用户达成共识，或者取消订单并通知用户。<br><br>2、
                        商品缺货规则：由于市场变化及各种以合理商业努力难以控制的因素的影响，21cake无法承诺用户通过提交订单所希望购买的商品都会有货；用户订购的商品或服务如果发生缺货，用户和21cake皆有权取消该订单。<br><br>3、
                        邮件/短信/微信服务规则：当用户访问21cake网站或给21cake网站发送电子邮件时，用户同意以电子方式与21cake网站进行联系，并同意以电子方式接收21cake网站的信息。21cake网站有权通过电子邮件和/或短信和/或微信等方式向用户发送通知、订单信息、促销活动等信息，如果用户访问21cake网站，或在21cake网站注册、购物及使用其他服务，则表明用户已同意接收该等信息。如用户不希望接收来自于21cake网站除了通知、订单信息以外的电子邮件和/或短信和/或微信，则21cake网站可根据用户申请办理退阅。<br><br>4、
                        配送规则：21cake负责将订购商品配送到用户指定的收货地址。所有在21cake网站上列出的配送时间皆为参考时间，仅供用户参照使用。该参考时间是根据商品库存状况、订单处理流程和配送地点等情况综合计算得出的。<br><br>5、
                        退换货规则：21cake网站有权制定、发布商品退换货规则，并对该等规则享有修改权、解释权。用户在21cake网站提交订单即表明其接受21cake网站的退换货规则。<br><br>6、
                        订单取消规则：<br><br>① 用户有权在下列情况下，取消订单：<br>a) 经用户和21cake协商达成一致的；<br>b) 21cake对用户订单做出承诺之前；<br>c)
                        21cake网站上公布的商品价格发生变化或错误，用户在21cake发货之前通知21cake的。<br>② 21cake在下列情况下，可以取消用户订单：<br>a)
                        经21cake和用户协商达成一致的；<br>b) 21cake网站上显示的商品信息明显错误或缺货的；<br>c) 用户订单信息明显错误或用户订购数量超出21cake备货量的。<br>③
                        21cake网站在下列情况下，亦可取消用户订单：<br>a)
                        因不可抗力、21cake网站系统发生故障或遭受第三方攻击，及其他21cake网站无法控制的情形，根据21cake网站判断需要取消用户订单的；<br>b)
                        经21cake网站判断，用户订购行为不符合公平原则或诚实信用原则的情形（如同一用户多次无理由拒收订购商品）；<br>c)
                        按21cake网站已经发布的或将来可能发布或更新的各类规则，可取消用户订单的其他情形。<br><br>六、 责任限制与不可抗力<br><br>1、
                        在法律法规所允许的限度内，因使用21cake网站服务而引起的任何损害或经济损失，21cake网站承担的全部责任均不超过就用户所购买的与该索赔有关的商品所实际获得的直接收益。这些责任限制条款将在法律所允许的最大限度内适用，并在用户账户被注销后仍继续有效。<br><br>2、
                        21cake网站仅限在“按现状”和“按现有”的基础上，向用户提供全部的信息、内容、材料、产品（包括软件）和服务。除非另有明确的书面说明，21cake网站不对其包含在21cake网站上的信息、内容、材料、产品（包括软件）或服务作任何形式的、明示或默示的担保。<br><br>3、
                        不论在任何情况下，21cake网站均不对由于互联网设备正常维护，互联网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，暴乱，骚乱，灾难性天气（如火灾、洪水、风暴等），爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能履行或延迟履行承担责任。<br><br>七、
                        服务的中断和终止：<br><br>1、
                        用户向21cake网站提出注销账户申请，经21cake网站审核同意后，由21cake网站注销该用户账户，本协议即告终止。但在注销该用户账户后，21cake网站仍有权：<br><br>①保留该用户的注册信息及过往的全部交易行为记录；<br>②
                        如用户在账户注销前在21cake网站上存在违法行为或违反本协议的行为，21cake网站仍可行使本协议所规定的权利。<br><br>2、
                        在下列情况下，21cake网站可以通过注销用户账户的方式单方解除本协议：<br><br>①
                        在用户违反本协议相关规定时，21cake网站有权暂停或终止向该用户提供服务。如该用户在21cake网站暂停或终止提供服务后，再一次直接或间接或以他人名义注册为21cake网站用户的，则21cake网站有权再次暂停或终止向该用户提供服务；<br>②
                        如21cake网站通过用户提供的信息与用户联系时，发现用户在注册时填写的电子邮箱已不存在或无法接收电子邮件的，经21cake网站以其他联系方式（如有）通知用户，而用户在三个工作日内仍未能提供新的有效电子邮箱地址的，21cake网站有权终止向该用户提供服务；<br>③
                        一经发现用户注册信息中的内容是虚假的，21cake网站即有权终止向该用户提供服务；<br>④
                        本协议修改或更新时，如用户表示不愿接受新的服务协议的，21cake网站有权终止向该用户提供服务；<br>⑤ 21cake网站认为需终止提供服务的其他情况。<br><br>八、
                        适用的法律和管辖权<br><br>本协议的订立、执行和解释及争议的解决均应适用中华人民共和国的法律。如发生本协议与法律相抵触的情形，则该条款将按法律规定重新解释，而其他条款继续有效。如就本协议内容或其执行发生任何争议，则双方应首先通过友好协商方式解决；协商不成的，任何一方均应向21cake网站所在地有管辖权的法院提起诉讼解决。<br><br>九、
                        知识产权<br><br>1、
                        21cake网站上的图表、标识、网页页眉、按钮图标、文字、服务品名等标示在网站上的信息都是21cake网站运营方及其关联方的财产，受中国和国际知识产权法的保护。未经21cake网站许可，任何人不得使用、复制或用作其他用途。在21cake网站上出现的其他商标是其商标权利人各自的财产，未经21cake网站运营方或相关商标所有人的书面许可，任何第三方都不得使用。<br><br>2、
                        21cake网站用户发表的文章仅代表作者本人观点，与21cake网站立场无关。作者文责自负。<br><br>3、
                        21cake网站及其关联方有权将用户在本网站发表的商品使用体验、商品讨论或图片进行使用或者与其他人合作使用，使用范围包括但不限于网站、电子杂志、杂志、刊物等，使用时需为作者署名，以发表文章时注明的署名为准。文章有附带版权声明者除外。<br><br>4、
                        用户在21cake网站上发表的文章及图片（包括转贴的文章及图片）版权仅归属原作者所有，若作者有版权声明或原作从其他网站转载而附带有原版权声明者，其版权归属以附带声明为准。<br><br>5、
                        任何转载、引用发表于21cake网站的版权文章须符合以下规范：<br><br>①
                        用于非商业、非盈利、非广告性目的时需注明作者及文章及图片的出处为“21cake网站”或“www.21cakecom”；<br>②
                        用于商业、盈利、广告性目的时需征得文章或图片原作者的同意，并注明作者姓名、授权范围及原作出处“21cake网站”或“www.21cake.com”；<br>③
                        任何文章或图片的修改或删除均应保持作者原意并征求原作者同意，并注明授权范围。<br><br>十、 信息保护<br><br>1、
                        用户个人隐私：请阅读21cake网站的隐私保护政策以了解隐私政策。该声明适用于您访问21cake网站，或在21cake网站购买商品或使用21cake网站提供的任何服务。<br><br>2、
                        信息安全<br><br>① 21cake网站账户和提现功能有密码保护，请用户妥善保管账户及密码信息；<br>②
                        如果用户发现自己的个人信息泄密，尤其是21cake网站账户及密码或提现密码发生泄露，请用户立即联络21cake网站客服，以便21cake网站采取相应措施。<br><br>3、
                        Cookie的使用规则<br><br>① 通过21cake网站所设Cookie所取得的有关信息，将适用本规则；<br>②
                        在21cake网站上发布信息的第三方通过其所发布信息在用户计算机上设定Cookies的，将按该第三方的隐私权政策使用；<br>③
                        编辑和删除个人信息的权限：用户可以点击“我的廿一客”对用户的个人信息进行编辑和删除，除非21cake网站另有规定。<br></font>
                </font>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <img class="footer-logo" src="../images/footer-logo.png" height="36" width="96" alt="">
    <div class="footer-nav">
        <a href="contact.html">联系我们</a>
        <span>|</span>
        <a href="order.html">订购帮助</a>
        <span>|</span>
        <a href="cooperate.html">企业合作</a>
        <span>|</span>
        <a href="product.html">生产经营资质</a>
        <span>|</span>
        <a href="bulletin.html">公告专区</a>
    </div>
    <div class="footer-icon">
        <a href="http://weibo.com/21cake" target="_blank">
            <img src="../images/footericon-01.png">
        </a>
        <a class="footer-weixin" onmouseover="move1()" onmouseout="out1()">
            <div class="footer-erweima footer-weixin-erweima">
                <img src="../images/erweima.png">
            </div>
            <img src="../images/footericon-02.png">
        </a>
        <a class="footer-app" onmouseover="move2()" onmouseout="out2()">
            <div class="footer-erweima footer-app-erweima">
                <img src="../images/footer-erweima.png">
            </div>
            APP
        </a>
    </div>

    <div class="footer-text">
        <span>订购专线：400 650 2121（服务时间 08:00–22:00）</span>
        <span>客服电话：021-23099721（全国） | kefu@21cake.com（邮箱）</span>
        <span>杭州/广州：提前5小时预订；北京：提前6小时预订；上海：提前5.5-6小时预订；天津/苏州/无锡/深圳：提前8小时预订（部分偏远地区除外，当日22点以后订单，于次日8点开始审核） </span>
        <span>当日蛋糕配送截止下单时间：北京：16:50；上海：16:30；杭州/广州：13:50；天津：10:30；苏州/无锡/深圳：11:00</span>
        <span>网站注册公司名称: 北京廿一客食品有限公司 地址: 北京市北京经济技术开发区兴海二街5号院3号楼 </span><br>
    </div>
    <div class="footer-copyright">
        <span>Copyright© 21Cake蛋糕官网商城 2007-2018, 版权所有 <a style="color: #9a9a9a" target="_blank"
                                                         href="http://www.miitbeian.gov.cn/">京ICP备14006254号-1</a></span>
    </div>
</div>
<script src="../lib/jquery/jquery.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/footer.js"></script>
</body>
</html>