<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我们的故事_21Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/westory.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
<!--头部-->
<header>

</header>
<!--中间内容-->
<section>
    <div class="center">
 <p>
      21KAKE创始人Eric说，我收到过一封手写的信，来自一位热爱烘焙的女士，她是一名妈妈，她写道：“因为热爱美食，想成立一个
     <br>
     快乐烘焙俱乐部，以美食、烘焙为主题，与拥有相同生活品质的人相聚，以期感受西点之美；与更厉害的专业烘焙人士相聚，得以学习
     <br>
     和提升，为孩子和家人亲手做出健康无任何添加的食物。”
 </p>
<P>
    这是创办21KAKE西点梦工场的初衷。
</P>

    </div>
    <div class="center">
        <img src="../images/left1.png" alt="">
        <img src="../images/right1.png" alt="">
    </div>

    <div class="center">
        <p class="padding">
            在资讯日益发达的社会，我们有很多APP，很多社交平台，可以学习烘焙、分享美食，但是，“面对面交流”的收获和快乐是无法
            被替代的。
        </p>
    </div>
    <div class="center">
        <img src="../images/left2.png" alt="">
        <img src="../images/right2.png" alt="">
    </div>

    <div class="center">
      <p class="padding">
          都说烘焙是孤独的，但我们更希望将这些孤独的个体，聚集起来，变成一群人的狂欢。在这里，你会因为学会一个烘焙技巧而喜悦，因为共同学习一个配方而开心，因为将自己亲手制作的健康、美味的蛋糕分享给家人而满足......
      </p>
    </div>
    <div class="center">
        <img src="../images/left3.png" alt="">
        <img src="../images/right3.png" alt="">
    </div>
    <div class="center">
 <p>
     抛却一切故作姿态的追逐潮流，而是真正融合进来，分享烘焙这件美好事情的同时，与更多有趣的灵魂相遇，借此发现，你可能遇见的精致生活：设计、时尚、摄影、花艺、旅行，或是一起探讨孩子的喜好，去享受生活本身。
     <br>

 </p>
        <p>
            抛却一切故作姿态的追逐潮流，而是真正融合进来，分享烘焙这件美好事情的同时，与更多有趣的灵魂相遇，
            借此发现，你可能遇见的精致生活：设计、时尚、摄影、花艺、旅行，或是一起探讨孩子的喜好，去享受生活本身。
        </p>
    </div>
    <div class="center">
        <img src="../images/bottom.png" alt="">
    </div>

</section>
<!--中间内容结束-->
<!--页尾-->
<div class="footer">
    <img class="footer-logo" src="../images/footer-logo.png" height="36" width="96" alt="">
    <div class="footer-nav">
        <a href="contact.html">联系我们</a>
        <span>|</span>
        <a href="order.html">订购帮助</a>
        <span>|</span>
        <a href="cooperate.html">企业合作</a>
        <span>|</span>
        <a href="product.html">生产经营资质</a>
        <span>|</span>
        <a href="bulletin.html">公告专区</a>
    </div>
    <div class="footer-icon">
        <a href="http://weibo.com/21cake" target="_blank">
            <img src="../images/footericon-01.png">
        </a>
        <a class="footer-weixin" onmouseover="move1()" onmouseout="out1()">
            <div class="footer-erweima footer-weixin-erweima">
                <img src="../images/erweima.png">
            </div>
            <img src="../images/footericon-02.png">
        </a>
        <a class="footer-app" onmouseover="move2()" onmouseout="out2()">
            <div class="footer-erweima footer-app-erweima">
                <img src="../images/footer-erweima.png">
            </div>
            APP
        </a>
    </div>

    <div class="footer-text">
        <span>订购专线：400 650 2121（服务时间 08:00–22:00）</span>
        <span>客服电话：021-23099721（全国） | kefu@21cake.com（邮箱）</span>
        <span>杭州/广州：提前5小时预订；北京：提前6小时预订；上海：提前5.5-6小时预订；天津/苏州/无锡/深圳：提前8小时预订（部分偏远地区除外，当日22点以后订单，于次日8点开始审核） </span>
        <span>当日蛋糕配送截止下单时间：北京：16:50；上海：16:30；杭州/广州：13:50；天津：10:30；苏州/无锡/深圳：11:00</span>
        <span>网站注册公司名称: 北京廿一客食品有限公司 地址: 北京市北京经济技术开发区兴海二街5号院3号楼 </span><br>
    </div>
    <div class="footer-copyright">
        <span>
            Copyright© 21Cake蛋糕官网商城 2007-2018, 版权所有
            <a style="color: #9a9a9a" target="_blank" href="http://www.miitbeian.gov.cn/">
                京ICP备14006254号-1
            </a>
        </span>
    </div>
</div>

<!--页尾结束-->


<script src="../lib/jquery-1.12.4.js"></script>
<script src="../js/footer.js"></script>
</body>
</html>