<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新品_标签_生日蛋糕网上订购_生日蛋糕预订_21客/二十一客蛋糕官网</title>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/xinPin.css">

</head>
<body>
<!--=========================================页头=======================================-->
<header id="header">
    <div class="header-fixed">
        <nav class="center clearfix">
            <!--logo-->
            <a href="../home-page.html" class="nav-logo floatL">
                <img src="../images/logo.png" alt="廿一客">
            </a>
            <!--/logo-->

            <!--菜单-->
            <div class="nav-centerContent floatL">
                <ul class="clearfix">
                    <li>
                        <a href="../home-page.html">首页</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/caketext-1.html">蛋糕</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/caketext-2.html">冰淇淋</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/caketext-3.html">咖啡下午茶</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/caketext-4.html">面包</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/send.html">咖啡全国送</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="../pages/enterprise-zone.html">企业专区</a>
                        <span></span>
                    </li>
                </ul>
            </div>
            <!--/菜单-->

            <!--功能-->
            <div class="nav-function floatR">
                <ul class="clearfix">
                    <li class="show-children">
                        <span>APP下载</span>
                        <div class="youHuiErWeiMa">
                            <img src="../images/erweima2.png" alt="">
                            <p>下载享更多优惠</p>
                        </div>
                    </li>
                    <li class="show-children">
                        <span class="address-chose-default">成都</span>
                        <i></i>
                        <div class="address-chose">
                            <a href="javascript:void(0);">成都</a>
                            <a href="javascript:void(0);">重庆</a>
                            <a href="javascript:void(0);">西安</a>
                            <a href="javascript:void(0);">北京</a>
                        </div>
                    </li>
                    <li class="show-children">
                        <span>消息</span>
                        <div class="news">
                            <a href="../pages/login.html">通知</a>
                            <a href="../pages/login.html">物流</a>
                        </div>
                        <i class="redDian"></i><!--==========注意：登陆后会根据情况显示的===========-->
                    </li>
                    <li class="ifDengLu-show-children"><!--==========注意：登陆后加show-children属性========-->
                        <a href="../pages/login.html">登录</a>/<a href="../pages/register.html">注册</a>
                        <p class="dengLu-success">
                            <img src="../images/user.png" alt="">
                        </p>
                        <div class="news user">
                            <a href="#">我的订单</a>
                            <a href="#">我的优惠券</a>
                            <a href="#">我的纪念日</a>
                            <a href="#">退出登录</a>
                        </div>
                    </li>
                    <li class="buy-cart">
                        <a href="../pages/shopCar.html">
                            <i></i>
                        </a>
                        <span class="num">3</span>
                    </li>
                </ul>
            </div>
            <!--/功能-->
        </nav>
    </div>
</header>
<!--=========================================中间内容=======================================-->
<!--=============内容大图==================-->
<section class="xinpinda"></section>
<!--=============内容新品标题================-->
<div class="xinpinBiaoTi">
    <h2>
        新品
        <!--下划线-->
        <i></i>
    </h2>
</div>
<!--=============内容蛋糕区==================-->
<section>
    <div class="center clearfix neiRong">
        <!--======蛋糕展示=====-->
        <div>
            <ul class="zhanShi">
                <!--======展示图1======-->
                <li>
                    <!--内容1-->
                    <div class="dangao-li">
                        <div class="fangda">
                            <a href="../pages/goods-description.html">
                                <img src="../images/01.jpg" alt="">
                            </a>
                        </div>
                        <h3>黑白巧克力慕斯（千阳号）</h3>
                        <span>¥358.00/2.0磅</span>
                        <!--新品儿童标签-->
                        <div class="biaoqian">
                            <a href="../pages/xinPin.html">新品 ></a>
                            <a href="../pages/child.html">儿童 ></a>
                            <a href=""></a>
                            <a href=""></a>
                        </div>
                        <!--加入购物车-->
                        <a class="xin-gouWuChe">
                            <i></i>
                            加入购物车
                        </a>
                        <!--展示图上的新品-->
                        <div class="label">
                            <img src="../images/xinpin.png" alt="">
                        </div>
                    </div>
                </li>
                <!--======展示图2======-->
                <li>
                    <div class="dangao-li">
                        <div class="fangda">
                            <a href="../pages/goods-description.html">
                                <img src="../images/02.jpg" alt="">
                            </a>
                        </div>
                        <h3>芒果奶油蛋糕</h3>
                        <span>¥198.00/2.0磅</span>
                        <!--新品儿童标签-->
                        <div class="biaoqian">
                            <a href="../pages/qingLv.html">情侣 ></a>
                            <a href="../pages/child.html">儿童 ></a>
                            <a href="../pages/party.html">聚会 ></a>
                            <a href=""></a>
                        </div>
                        <!--加入购物车-->
                        <a class="xin-gouWuChe">
                            <i></i>
                            加入购物车
                        </a>
                        <!--展示图上的新品-->
                        <div class="label">
                            <img src="../images/youhui.png" alt="">
                        </div>
                    </div>
                </li>
                <!--======展示图3======-->
                <li>
                    <div class="dangao-li">
                        <div class="fangda">
                            <a href="../pages/goods-description.html">
                                <img src="../images/03.jpg" alt="">
                            </a>
                        </div>
                        <h3>浅草</h3>
                        <span>¥298.00/2.0磅</span>
                        <!--新品儿童标签-->
                        <div class="biaoqian">
                            <a href="../pages/xinPin.html">新品 ></a>
                            <a href="../pages/renqi.html">人气 ></a>
                            <a href="../pages/birthday.html">生日 ></a>
                            <a href=""></a>
                        </div>
                        <!--加入购物车-->
                        <a class="xin-gouWuChe">
                            <i></i>
                            加入购物车
                        </a>
                        <!--展示图上的新品-->
                        <div class="label">
                            <img src="../images/xinpin.png" alt="">
                        </div>
                    </div>
                </li>
                <!--======展示图4======-->
                <li>
                    <div class="dangao-li">
                        <div class="fangda">
                            <a href="../pages/goods-description.html">
                                <img src="../images/04.jpg" alt="">
                            </a>
                        </div>
                        <h3>松仁淡奶（木糖醇）</h3>
                        <span>¥298.00/2.0磅</span>
                        <!--新品儿童标签-->
                        <div class="biaoqian">
                            <a href="../pages/senior.html">长辈 ></a>
                            <a href="../pages/xinPin.html">新品 ></a>
                            <a href=""></a>
                            <a href=""></a>
                        </div>
                        <!--加入购物车-->
                        <a class="xin-gouWuChe">
                            <i></i>
                            加入购物车
                        </a>
                        <!--展示图上的新品-->
                        <div class="label">
                            <img src="../images/xinpin.png" alt="">
                        </div>
                    </div>
                </li>
                <!--======展示图5======-->
                <li>
                    <div class="dangao-li">
                        <div class="fangda">
                            <a href="">
                                <img src="../images/05.jpg" alt="">
                            </a>
                        </div>
                        <h3>芒果慕斯</h3>
                        <span>¥298.00/2.0磅</span>
                        <!--新品儿童标签-->
                        <div class="biaoqian">
                            <a href="../pages/child.html">儿童 ></a>
                            <a href="../pages/party.html">聚会 ></a>
                            <a href="../pages/xinPin.html">新品 ></a>
                            <a href=""></a>
                        </div>
                        <!--加入购物车-->
                        <a class="xin-gouWuChe">
                            <i></i>
                            加入购物车
                        </a>
                        <!--展示图上的新品-->
                        <div class="label">
                            <img src="../images/xinpin.png" alt="">
                        </div>
                    </div>
                </li>
                <!--======展示图6======-->
                <li>
                    <div class="dangao-li">
                        <div class="fangda">
                            <a href="">
                                <img src="../images/06.jpg" alt="">
                            </a>
                        </div>
                        <h3>枣儿</h3>
                        <span>¥298.00/2.0磅</span>
                        <!--新品儿童标签-->
                        <div class="biaoqian">
                            <a href="../pages/xinPin.html">新品 ></a>
                            <a href="../pages/birthday.html">生日 ></a>
                            <a href=""></a>
                            <a href=""></a>
                        </div>
                        <!--加入购物车-->
                        <a class="xin-gouWuChe">
                            <i></i>
                            加入购物车
                        </a>
                        <!--展示图上的新品-->
                        <div class="label">
                            <img src="../images/xinpin.png" alt="">
                        </div>
                    </div>
                </li>
                <!--======展示图7======-->
                <li>
                    <div class="dangao-li">
                        <div class="fangda">
                            <a href="">
                                <img src="../images/07.jpg" alt="">
                            </a>
                        </div>
                        <h3>摩卡</h3>
                        <span>¥398.00/2.0磅</span>
                        <!--新品儿童标签-->
                        <div class="biaoqian">
                            <a href="../pages/yirenfen.html">一人份 ></a>
                            <a href="../pages/xinPin.html">新品 ></a>
                            <a href=""></a>
                            <a href=""></a>
                        </div>
                        <!--加入购物车-->
                        <a class="xin-gouWuChe">
                            <i></i>
                            加入购物车
                        </a>
                        <!--展示图上的新品-->
                        <!--<div class="label">-->
                            <!--<img src="../images/xinpin.png" alt="">-->
                        <!--</div>-->
                    </div>
                </li>
                <!--======展示图8======-->
                <li>
                    <div class="dangao-li">
                        <div class="fangda">
                            <a href="">
                                <img src="../images/08.jpg" alt="">
                            </a>
                        </div>
                        <h3>彼尔德（Party）黑白巧克力慕斯</h3>
                        <span>¥298.00/2.0磅</span>
                        <!--新品儿童标签-->
                        <div class="biaoqian">
                            <a href="../pages/child.html">儿童 ></a>
                            <a href="../pages/xinPin.html">新品 ></a>
                            <a href="../pages/acquaintance.html">相识 ></a>
                            <a href=""></a>
                        </div>
                        <!--加入购物车-->
                        <a class="xin-gouWuChe">
                            <i></i>
                            加入购物车
                        </a>
                        <!--展示图上的新品-->
                        <!--<div class="label">-->
                            <!--<img src="../images/xinpin.png" alt="">-->
                        <!--</div>-->
                    </div>
                </li>
                <!--======展示图9======-->
                <li>
                    <div class="dangao-li">
                        <div class="fangda">
                            <a href="">
                                <img src="../images/09.jpg" alt="">
                            </a>
                        </div>
                        <h3>新卡</h3>
                        <span>¥398.00/2.0磅</span>
                        <!--新品儿童标签-->
                        <div class="biaoqian">
                            <a href="../pages/yirenfen.html">一人份 ></a>
                            <a href="../pages/xinPin.html">新品 ></a>
                            <a href=""></a>
                            <a href=""></a>
                        </div>
                        <!--加入购物车-->
                        <a class="xin-gouWuChe">
                            <i></i>
                            加入购物车
                        </a>
                        <!--展示图上的新品-->
                        <!--<div class="label">-->
                            <!--<img src="../images/xinpin.png" alt="">-->
                        <!--</div>-->
                    </div>
                </li>
                <!--======展示图10======-->
                <li>
                    <div class="dangao-li">
                        <div class="fangda">
                            <a href="">
                                <img src="../images/10.jpg" alt="">
                            </a>
                        </div>
                        <h3>百香果酸乳酪慕斯（木糖醇）</h3>
                        <span>¥298.00/2.0磅</span>
                        <!--新品儿童标签-->
                        <div class="biaoqian">
                            <a href="../pages/qingLv.html">情侣 ></a>
                            <a href="../pages/low.html">低温 ></a>
                            <a href="../pages/xinPin.html">新品 ></a>
                            <a href=""></a>
                        </div>
                        <!--加入购物车-->
                        <a class="xin-gouWuChe">
                            <i></i>
                            加入购物车
                        </a>
                        <!--展示图上的新品-->
                        <div class="label">
                            <img src="../images/xinpin.png" alt="">
                        </div>
                    </div>
                </li>
                <!--======展示图11======-->
                <li>
                    <div class="dangao-li">
                        <div class="fangda">
                            <a href="">
                                <img src="../images/11.jpg" alt="">
                            </a>
                        </div>
                        <h3>深艾尔</h3>
                        <span>¥268.00/1.0磅</span>
                        <!--新品儿童标签-->
                        <div class="biaoqian">
                            <a href="../pages/qingLv.html">情侣 ></a>
                            <a href="../pages/low.html">低温 ></a>
                            <a href="../pages/xinPin.html">新品 ></a>
                            <a href=""></a>
                        </div>
                        <!--加入购物车-->
                        <a class="xin-gouWuChe">
                            <i></i>
                            加入购物车
                        </a>
                        <!--展示图上的新品-->
                        <div class="label">
                            <img src="../images/xinpin.png" alt="">
                        </div>
                    </div>
                </li>
                <!--======展示图12======-->
                <li>
                    <div class="dangao-li">
                        <div class="fangda">
                            <a href="">
                                <img src="../images/12.jpg" alt="">
                            </a>
                        </div>
                        <h3>彼尔德（生日）黑白巧克力慕斯</h3>
                        <span>¥298.00/2.0磅</span>
                        <!--新品儿童标签-->
                        <div class="biaoqian">
                            <a href="../pages/xinPin.html">新品 ></a>
                            <a href="../pages/birthday.html">生日 ></a>
                            <a href=""></a>
                            <a href=""></a>
                        </div>
                        <!--加入购物车-->
                        <a class="xin-gouWuChe">
                            <i></i>
                            加入购物车
                        </a>
                        <!--展示图上的新品-->
                        <!--<div class="label">-->
                            <!--<img src="../images/xinpin.png" alt="">-->
                        <!--</div>-->
                    </div>
                </li>
                <!--======展示图13======-->
                <li>
                    <div class="dangao-li">
                        <div class="fangda">
                            <a href="">
                                <img src="../images/13.jpg" alt="">
                            </a>
                        </div>
                        <h3>清境</h3>
                        <span>¥298.00/2.0磅</span>
                        <!--新品儿童标签-->
                        <div class="biaoqian">
                            <a href="../pages/xinPin.html">新品 ></a>
                            <a href="../pages/party.html">聚会 ></a>
                            <a href="../pages/acquaintance.html">相识 ></a>
                            <a href=""></a>
                        </div>
                        <!--加入购物车-->
                        <a class="xin-gouWuChe">
                            <i></i>
                            加入购物车
                        </a>
                        <!--展示图上的新品-->
                        <div class="label">
                            <img src="../images/xinpin.png" alt="">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--=========================================页尾=======================================-->
<footer class="footer">
    <img class="footer-logo" src="../images/footer-logo.png" height="36" width="96" alt="">
    <div class="footer-nav">
        <a href="contact.html">联系我们</a>
        <span>|</span>
        <a href="order.html">订购帮助</a>
        <span>|</span>
        <a href="cooperate.html">企业合作</a>
        <span>|</span>
        <a href="product.html">生产经营资质</a>
        <span>|</span>
        <a href="bulletin.html">公告专区</a>
    </div>
    <div class="footer-icon">
        <a href="http://weibo.com/21cake" target="_blank">
            <img src="../images/footericon-01.png">
        </a>
        <a class="footer-weixin" onmouseover="move1()" onmouseout="out1()">
            <div class="footer-erweima footer-weixin-erweima">
                <img src="../images/erweima.png">
            </div>
            <img src="../images/footericon-02.png">
        </a>
        <a class="footer-app" onmouseover="move2()" onmouseout="out2()">
            <div class="footer-erweima footer-app-erweima">
                <img src="../images/footer-erweima.png">
            </div>
            APP
        </a>
    </div>

    <div class="footer-text">
        <span>订购专线：400 650 2121（服务时间 08:00–22:00）</span>
        <span>客服电话：021-23099721（全国） | kefu@21cake.com（邮箱）</span>
        <span>杭州/广州：提前5小时预订；北京：提前6小时预订；上海：提前5.5-6小时预订；天津/苏州/无锡/深圳：提前8小时预订（部分偏远地区除外，当日22点以后订单，于次日8点开始审核） </span>
        <span>当日蛋糕配送截止下单时间：北京：16:50；上海：16:30；杭州/广州：13:50；天津：10:30；苏州/无锡/深圳：11:00</span>
        <span>网站注册公司名称: 北京廿一客食品有限公司 地址: 北京市北京经济技术开发区兴海二街5号院3号楼 </span><br>
        <br>
    </div>
    <div class="footer-copyright">
        <span>
            Copyright© 21Cake蛋糕官网商城 2007-2018, 版权所有
            <a style="color: #9a9a9a" target="_blank" href="http://www.miitbeian.gov.cn/">
                京ICP备14006254号-1
            </a>
        </span>
    </div>
</footer>

<!--jq插件-->
<script src="../lib/jquery-1.12.4.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/xinPin.js"></script>
<script src="../js/footer.js"></script>
</body>
</html>