<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>原味牛乳冰淇淋 Milk Gelato 原味牛乳冰淇淋__蛋糕网上订购_5小时新鲜送达_21Cake官网</title>
    <link rel="stylesheet" href="../css/goods-description.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="stylesheet" href="../css/qiYe_model.css">
    <link rel="stylesheet" href="../css/yuanweibinqilin.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>
<header id="header">
    <div class="header-fixed">
        <nav class="center clearfix">
            <!--logo-->
            <a href="../home-page.html" class="nav-logo floatL">
                <img src="../images/logo.png" alt="廿一客">
            </a>
            <!--/logo-->

            <!--菜单-->
            <div class="nav-centerContent floatL">
                <ul class="clearfix">
                    <li>
                        <a href="../home-page.html">首页</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="caketext-1.html">蛋糕</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="caketext-2.html">冰淇淋</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="caketext-3.html">咖啡下午茶</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="caketext-4.html">面包</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="send.html">咖啡全国送</a>
                        <span></span>
                    </li>
                    <li>
                        <a href="enterprise-zone.html">企业专区</a>
                        <span></span>
                    </li>
                </ul>
            </div>
            <!--/菜单-->

            <!--功能-->
            <div class="nav-function floatR">
                <ul class="clearfix">
                    <li class="show-children">
                        <span>APP下载</span>
                        <div class="youHuiErWeiMa">
                            <img src="../images/erweima2.png" alt="">
                            <p>下载享更多优惠</p>
                        </div>
                    </li>
                    <li class="show-children">
                        <span class="address-chose-default">成都</span>
                        <i></i>
                        <div class="address-chose">
                            <a href="javascript:void(0);">成都</a>
                            <a href="javascript:void(0);">重庆</a>
                            <a href="javascript:void(0);">西安</a>
                            <a href="javascript:void(0);">北京</a>
                        </div>
                    </li>
                    <li class="show-children">
                        <span>消息</span>
                        <div class="news">
                            <a href="login.html">通知</a>
                            <a href="login.html">物流</a>
                        </div>
                        <i class="redDian"></i><!--==========注意：登陆后会根据情况显示的===========-->
                    </li>
                    <li class="ifDengLu-show-children"><!--==========注意：登陆后加show-children属性========-->
                        <a href="login.html">登录</a>/<a href="register.html">注册</a>
                        <p class="dengLu-success">
                            <img src="../images/user.png" alt="">
                        </p>
                        <div class="news user">
                            <a href="my-dingDan.html">我的订单</a>
                            <a href="#">我的优惠券</a>
                            <a href="#">我的纪念日</a>
                            <a href="javascript:window.opener=null;window.open('','_self');window.close();">退出登录</a>
                        </div>
                    </li>
                    <li class="buy-cart">
                        <a href="shopcar.html">
                            <i></i>
                        </a>
                        <span class="num">3</span>
                    </li>
                </ul>
            </div>
            <!--/功能-->
        </nav>
    </div>
    <div class="daohanglan">
        <div class="content-middle">
            <div class="daohangLeft">
                <span>Milk Gelato 原味牛乳冰淇淋</span>
            </div>
            <div class="daohangRight">
                <span>¥45.00/盒</span><i></i>
            </div>
        </div>

    </div>
</header>

<!--//顶部导航栏内容-->
<div class="shopMall shopMall2">
    <i></i>
    <p>成功添加购物车</p>
    <button>查看购物车</button>
</div>
<div class="sec2-right2">
    <div class="top top2">
        <div class="sec2-tl">
            <img src="../images/lmy-181.jpg" alt="">
        </div>
        <div class="sec2-tr">
            <div class="size">
                <i></i>
                <span>约80g</span>
            </div>
            <div class="people">
                <i></i>
                <span>适合1人分享</span>
            </div>
            <div class="tool">
                <i></i>
                <span>含1把竹勺</span>
            </div>
            <div class="time">
                <i></i>
                <span>最早今天 15:00配送</span>
            </div>
        </div>

    </div>
    <div class="mid mid3">
        <span>商品规格</span>
        <button class="bt10">盒
            <i></i>
        </button>
    </div>
    <div class="bottom2">
        <button>立即购买</button>
        <button>加入购物车</button>
    </div>
</div>
<!--===============第一部分-----上面的大图片和旁边的三张小图片==============-->


<section class="sec1">
    <div class="center1">
        <!--1）左边大图-->
        <div class="sec1-left">
            <img src="../images/lmy-180.jpg" alt="">
        </div>

        <!--2）右边三张小图    -->
        <div class="sec1-right">
            <ul>
                <li>
                    <img src="../images/lmy-180.jpg" alt="" class="img1" style="outline: rgb(198, 156, 109) solid 1px;">
                </li>
            </ul>
        </div>
    </div>
</section>


<!--==============第二部分-----描述及选择部分===============================-->


<section class="sec2">
    <div class="center1">
        <div class="sec2-left">
            <div class="left-content1">
                <p>Milk Gelato 原味牛乳冰淇淋</p>
            </div>
            <div class="left-content3">
                <img src="../images/lmy-182.png" alt="">
                <span>冰淇淋</span>
            </div>
            <div class="left-content4">
                <p>/纯正牛乳，牛乳香，单纯/</p>
                <p>/Gelato10自研，新西兰乳脂奶油//</p>
                <p>/融入鲜奶，单纯之能及/</p>
            </div>
            <div class="left-content5">
                <ul>
                    <li>
                        <i></i>
                        <span>保鲜条件：</span>
                        <span>储存于-18℃或以下的温度</span>
                    </li>
                </ul>
            </div>
            <div></div>
        </div>
        <div class="sec2-right">
            <div class="shopMall">
                <i></i>
                <p>成功添加购物车</p>
                <button>查看购物车</button>
            </div>
            <div class="top">
                <div class="sec2-tl">
                    <img src="../images/lmy-181.jpg" alt="">
                </div>
                <div class="sec2-tr">
                    <div class="size">
                        <i></i>
                        <span>约80g</span>
                    </div>
                    <div class="people">
                        <i></i>
                        <span>适合1人分享</span>
                    </div>
                    <div class="tool">
                        <i></i>
                        <span>含1把竹勺</span>
                    </div>
                    <div class="time">
                        <i></i>
                        <span>最早今天 15:00配送</span>
                    </div>
                    <div class="price">
                        <span>¥45.00</span>
                        <span>/盒</span>
                    </div>
                </div>

            </div>
            <div class="mid">
                <span class="shopSize">商品规格</span>
                <button class="bt10">盒
                    <i></i>
                </button>
            </div>
            <br>
            <div class="bottom">
                <button>立即购买</button>
                <button>加入购物车</button>
            </div>
        </div>
    </div>
</section>


<!--=================分界线================================================-->
<div class="divide"></div>


<!--=================第三部分==============================================-->
<section class="sec3">
    <div class="center1 center3">
        <div class="sec3-top">
            <p>意式杰拉朵冰淇淋</p>
            <p>绵密、细腻、新鲜</p>
            <p>Gelato10自研，新西兰乳脂奶油</p>
            <p>融入鲜奶，单纯之能及</p>
            <img src="../images/lmy-183.jpg" alt="">
            <p>巴氏杀菌鲜牛奶，新西兰乳脂奶油</p>
            <p>凝冻工艺，技术性越过大冰晶生成带</p>
            <p>-18℃恒温配送</p>
        </div>
        <div class="sec3-mid">
            <p>由此而来的，醇厚、保质期10天的--</p>
            <p>高密度意式Gelato10冰淇淋</p>
            <img src="../images/lmy-184.jpg" alt="">
            <img src="../images/lmy-185.jpg" alt="">
        </div>
        <div class="sec3-bottom">
            <p >商品规格</p>
            ［名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 称］原味牛乳冰淇淋<br>
            ［净&nbsp; 含&nbsp; 量］80g<br>
            ［品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 牌］GELATO10<br>
            ［产品类型］清型全乳脂冰淇淋<br>
            ［食用建议］室温放置15分钟后食用口感最佳，若不及时食用，需放置冰箱冷冻<br>
            ［保质期限］10天<br><br></div>
        </div>
</section>




<!--=========================第五部分=========================================-->
<section class="sec5">
    <div class="center1 center2">
        <div class="pBox">
            <span>商品推荐</span>
        </div>
        <div class="imgBox">
            <div class="floatL1">
                <div>
                    <img src="../images/lmy99.jpg" alt="">
                    <div class="hidden">
                        <i></i>
                        <span>自然成熟榴莲肉，超薄白 <br> 巧克力</span>
                    </div>
                </div>
                <div>
                    <p>榴莲飘飘</p>
                    <span>¥ 298.00/2.0磅</span>
                </div>
            </div>
            <div class="floatL1">
                <div>
                    <img src="../images/lmy98.jpg" alt="">
                    <div class="hidden">
                        <i></i>
                        <span>芒果，百香果酱</span>
                    </div>
                </div>
                <div>
                    <p>芒果奶油蛋糕</p>
                    <span>¥ 298.00/2.0磅</span>
                </div>
            </div>
            <div class="floatL1">
                <div>
                    <img src="../images/lmy97.jpg" alt="">
                    <div class="hidden">
                        <i></i>
                        <span>爱尔兰百利甜酒，当日空 <br>运云南玫瑰</span>
                    </div>
                </div>
                <div>
                    <p>百利甜情人</p>
                    <span>¥ 298.00/2.0磅</span>
                </div>
            </div>
            <div class="floatL1">
                <div>
                    <img src="../images/lmy96.jpg" alt="">
                    <div class="hidden">
                        <i></i>
                        <span>自然成熟榴莲肉，超薄白 <br> 巧克力</span>
                    </div>
                </div>
                <div>
                    <p>浅草</p>
                    <span>¥ 298.00/2.0磅</span>
                </div>
            </div>
        </div>
    </div>

</section>


<div style="clear: both"></div>



<!--页脚-->
<div class="footer">
    <img class="footer-logo" src="../images/footer-logo.png" height="36" width="96" alt="">
    <div class="footer-nav">
        <a href="contact.html">联系我们</a>
        <span>|</span>
        <a href="order.html">订购帮助</a>
        <span>|</span>
        <a href="cooperate.html">企业合作</a>
        <span>|</span>
        <a href="product.html">生产经营资质</a>
        <span>|</span>
        <a href="bulletin.html">公告专区</a>
    </div>
    <div class="footer-icon">
        <a href="http://weibo.com/21cake" target="_blank">
            <img src="../images/footericon-01.png">
        </a>
        <a class="footer-weixin" onmouseover="move1()" onmouseout="out1()">
            <div class="footer-erweima footer-weixin-erweima">
                <img src="../images/erweima.png">
            </div>
            <img src="../images/footericon-02.png">
        </a>
        <a class="footer-app" onmouseover="move2()" onmouseout="out2()">
            <div class="footer-erweima footer-app-erweima">
                <img src="../images/footer-erweima.png">
            </div>
            APP
        </a>
    </div>

    <div class="footer-text">
        <span>订购专线：400 650 2121（服务时间 08:00–22:00）</span>
        <span>客服电话：021-23099721（全国） | kefu@21cake.com（邮箱）</span>
        <span>杭州/广州：提前5小时预订；北京：提前6小时预订；上海：提前5.5-6小时预订；天津/苏州/无锡/深圳：提前8小时预订（部分偏远地区除外，当日22点以后订单，于次日8点开始审核） </span>
        <span>当日蛋糕配送截止下单时间：北京：16:50；上海：16:30；杭州/广州：13:50；天津：10:30；苏州/无锡/深圳：11:00</span>
        <span>网站注册公司名称: 北京廿一客食品有限公司 地址: 北京市北京经济技术开发区兴海二街5号院3号楼 </span><br>
    </div>
    <div class="footer-copyright">
        <span>
            Copyright© 21Cake蛋糕官网商城 2007-2018, 版权所有
            <a style="color: #9a9a9a" target="_blank" href="http://www.miitbeian.gov.cn/">
                京ICP备14006254号-1
            </a>
        </span>
    </div>
</div>



<script src="../lib/jquery-1.12.4.js"></script>
<script src="../js/goods-description.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/footer.js"></script>
<script src="../js/qiYe_model.js"></script>
<script src="../js/yuanweiniurubinqilin.js"></script>
</body>
</html>