/*--------------------修改密码------------*/
.ddxg{
    height: 390px;
}
.ddwj{
    height: 480px;
}
.biaoti{
    margin-left: 80px;
    font-size: 16px;
    color: #383838;
    /*line-height: 22px;*/
    margin-top: 40px;
    /*margin-bottom: 22px;*/
}
.kuang{
    margin-left: 80px;
    margin-top: 22px;
}
.kuang span{
    font-size: 13px;
    color: #684029;

}
input{
    width: 302px;
    height: 38px;
}
.jmm input{
    margin-left: 30px;
}
.xmm input{
    margin-left: 30px;
}
.zcsr input{
    margin-left: 17px;
}
.icon1{
    position: absolute;
    display: none;
    height: 16px;
    width: 16px;
    background: url(/images/icon.png) no-repeat;
    background-position: -61px -44px;
    background-size: 310px 120px;
    left: 426px;
    top: 305px;
    cursor: pointer;

}
#tisi{
    font-size: 13px;
    color: #868686;
    margin-left: 10px;
}
.quer{
    width: 150px;
    height: 40px;
    background: #684029;
    font-size: 16px;
    color: #fff;
    margin-left: 310px;
    margin-top: 46px;
    border: none;
}
.wjmm{
    display: block;
    font-size: 13px;
    color: #0E7DFF;
    width: 100px;
    /*text-align: right;*/
    margin-left: 408px;
    margin-top: 5px;
}
.mmqd{
    /*background: url(/themes/site/img/password.png) no-repeat;*/
    background-size: 60px auto;
    width:70px;
    height: 10px;
    position: absolute;
    padding-left: 65px;
    line-height: 20px;
    color: #868686;
    top: 243px;
    left: 300px;
    font-size: 13px;
    overflow: hidden;
    /*border: red 1px solid;*/
    /*display: none;*/
}
.mmqd img{
    width: 60px;
    position: relative;
    bottom: 36px;
    left: 0px;
}
.ruoji{
    position: absolute;
    /*padding-left: 65px;*/
    /*line-height: 20px;*/
    color: #868686;
    top: 240px;
    font-size: 13px;
    left: 430px;
}
.redts{
    color: red;
    font-size: 12px;
    margin-left: 155px;
    opacity: 0;
}
/*忘记密码*/
.sjh input{
    margin-left: 30px;
}
.tx input{
    margin-left: 5px;
}
.dxyz input{
    margin-left: 5px;
}
#xmm1{
    margin-top: 48px;
}
.qiangji{
    top: 374px;
}
.kuang1 input{
    height: 35px;
    opacity: 0.7;

}
.kuang1{
    margin-top: 15px;
    /*padding-bottom: 10px;*/
}
#txxx{
    margin-bottom: 26px;
}
.mmqd1{
    top: 380px;
}
#sjtisi{
    font-size: 13px;
    color: #868686;
    margin-left: 10px;
}
.sxbox{
    /*display: inline-block;*/
    height: 22px;
    width: 26px;
    background: url(/images/icon.png) no-repeat;
    background-position: -15px -41px;
    background-size: 310px 120px;
    vertical-align: middle;
    margin-left:523px;
    margin-top: -32px;

}
.yzimg{
    margin-left: 395px;
    margin-top: -45px;
}
.hqyzm{
    width: 145px;
    height: 38px;
    background: #EEE9E6;
    border-radius: 2px;
    font-size: 13px;
    vertical-align: middle;
    border: none;
    /*margin-top: -8px;*/
    margin-left: 11px;
}
.sjh{
   margin-top: 25px;
}
.cdts{
    color: #FF714D;
    font-size: 12px;
    position: absolute;
    left: 155px;
    top: 333px;
    display: none;
}
.icon2{
    top:430px ;
}
.cdts1{
    top: 457px;
}