.national-top-banner {
    height: 500px;
    width: 100%;
    background: url(/images/national_02.jpg) no-repeat center;
}

.content-box {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.national-pro-list {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

ul {
    list-style: none;
}

li{
    margin: 0;
}

a {
    border: none;
    margin: 0;
    padding: 0;
}

a:link, a {
    color: #684029;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.national-pro-list li {
    width: 228px;
    padding: 0 36px;
    position: relative;
    height: 355px;
    float: left;
    margin-top: 30px;
}

.national-pro-list li img {
    width: 228px;
    height: 251px;
    display: block;
}

.national-pro-list li h3 {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 4px;
    text-align: center;
}

.national-pro-list li p{
    font-size: 12px;
    color: #BB9772;
    text-align: center;
}

.national-pro-list li a.button {
    background: #684029;
    width: 136px;
    height: 30px;
    color: #fff;
    border: none;
    display: block;
    position: absolute;
    top: 321px;
    left: 82px;
    outline: none;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}

.number-select {
    height: 30px;
    margin-top: 20px;
    margin-left: 43px;
    display: none;
}

.number-select i {
    float: left;
    height: 20px;
    width: 20px;
    background: url(/images/delect_national.png) no-repeat center;
    margin-top: 5px;
    margin-right: 15px;
    cursor: pointer;
    display: none;
}

.number-select div {
    width: 105px;
    height: 28px;
    border: 1px solid #D5BFA7;
    float: left;
    font-size: 0;
    margin-left: 20px;
}

.number-select div input:first-child{
    background:url(/images/national_minus_1.png) no-repeat center;
}

.number-select div input[type="text"] {
    width: 48px;
    font-size: 12px;
    border: none;
    line-height: 28px;
    text-align: center;
}

.number-select div input {
    height: 28px;
    background: none;
    display: block;
    float: left;
}

.number-select div input:last-child {
    background: url(/images/national_plus.png) no-repeat center;
}
.number-select div input[type="button"] {
    cursor: pointer;
}
.number-select div input {
    height: 28px;
    width: 28px;
    display: block;
    float: left;
}

.national-pro-list li img:hover{
    transform: scale(1.05);
}

.national-pro-list li h3:hover{
    color: #D5BFA7;
}

.order-info h2 {
    height: 44px;
    width: 1164px;
    background: #FAFAFA;
    border: 1px solid #E1E1E1;
    line-height: 44px;
    padding-left: 34px;
    font-size: 13px;
    margin-top: 70px;
    color: #684029;
}

.order-info-content {
    overflow: hidden;
    margin-top: 20px;
    border: 1px solid #E1E1E1;
    padding: 14px 55px 32px 17px;
    background: #FAFAFA;
    margin-bottom: 64px;
    height: 254px;
}

.order-info-content .order-info-left {
    float: left;
    width: 800px;
}

.order-info-content .order-info-left li {
    margin-bottom: 12px;
}

.order-info-content .order-info-left label {
    display: inline-block;
    width: 75px;
    color: #b3b3b3;
    line-height: 40px;
    vertical-align: top;
    font-size: 13px;
}

.order-info-content .order-info-left input[type="text"],
.order-info-content .order-info-left select {
    height: 38px;
    width: 160px;
    padding-left: 8px;
    border: 1px solid #efefef;
    font-size: 13px;
}

.order-info-content .order-info-left li span {
    color: #ff714d;
    margin-left: 12px;
    font-size: 13px;
    display: none;
}

.order-info-content .order-info-left select {
    padding: 0;
    width: 168px;
    margin-left: -4px;
    margin-right: 15px;
    outline: none;
    font-size: 13px;
}

.order-info-content .order-info-left textarea {
    width: 525px;
    height: 70px;
    border: 1px solid #efefef;
    padding: 5px;
    font-size: 13px;
    display: inline-block;
    margin-left: -5px;
}

.order-info-content .order-info-right {
    float: right;
    width: 310px;
}

.order-info-right{
    margin-top: 54px;
}

.order-info-right p {
    text-align: right;
    line-height: 18px;
    margin-bottom: 15px;
    font-size: 13px;
    color: #684029;
}

.order-info-right .total-amount {
    overflow: hidden;
    margin-top: 3px;
}

.order-info-right .total-amount p {
    border-top: 2px solid #E2E2E2;
    width: 232px;
    display: inline-block;
    float: right;
    padding-top: 15px;
}

.order-info-right .total-amount p span {
    color: #ff714d;
}

.order-info-right .last-p {
    color: #D5BFA7;
}

.total-button {
    text-align: right;
}

.total-button .disabled, .total-button .disabled:hover {
    background: #BFBFBF;
    cursor: not-allowed;
}

.total-button .button {
    height: 34px;
    width: 232px;
    color: #fff;
    border: none;
    background-color: #BFBFBF;
}

input{
    outline: none;
}

textarea {
    resize: none;
    outline: none;
}

textarea, select, optgroup, option {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
}
